.toast {
    &.toast-error {
        border-color: #dc3545;

        .toast-header {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity));
            --bs-text-opacity: 1;
            color: rgba(var(--bs-white-rgb), var(--bs-text-opacity));
            border-bottom-color: rgba(var(--bs-white-rgb), var(--bs-text-opacity));
        }
    }

    &.toast-warn {
        border-color: #ffc107;

        .toast-header {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity));
            border-bottom-color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
            --bs-text-opacity: 1;
            color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
            border-bottom-color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
        }
    }
}