<div [ngClass]="['toast mb-2', show ? 'show' : 'hide', 'toast-'+toast.type ]" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header">
        <app-icon [iconClass]="toast.icon" addCssClasses="toast-icon" [marginEnd]="2" *ngIf="toast.icon"></app-icon>
        <strong class="me-auto toast-title">{{ toast.title }}</strong>
        <small class="toast-time" *ngIf="toast.when">{{ fdist(toast.when) }}</small>
        <button type="button" class="btn-close toast-close" data-bs-dismiss="toast" aria-label="Close"
            *ngIf="toast.closable"></button>
    </div>
    <div class="toast-body">
        {{ toast.message }}
    </div>
    <div class="toast-body toast-actions fs-8" *ngIf="toast.actions">
        <ng-container *ngFor="let action of toast.actions">
            <a [routerLink]="action.url">
                <app-icon [iconClass]="action.icon" [marginEnd]="1" *ngIf="action.icon"></app-icon> {{ action.title }}
            </a>
        </ng-container>
    </div>
</div>