<div class="pb-2 border-bottom border-secondary border-2 d-flex justify-content-between align-items-center">
    <h2 class="text-truncate mb-0 pe-2">
        <span class="d-none d-lg-inline">
            {{ i18n('workday.pagetitle', [ fdate(today, 'PP') ]) }}
        </span>
        <span class="d-inline d-lg-none">
            {{ fdate(today, 'PP') }}
        </span>
    </h2>
    <div class="flex-shrink-0">
        <ui-busy-indicator class="me-2" [ngClass]="{ 'd-none': !busy }"></ui-busy-indicator>
        @if (yesterday) {
        <a [routerLink]="['/work', 'day', fdate(yesterday, 'yyyy-MM-dd')]">
            <button type="button" class="btn btn-sm btn-outline-primary px-3 px-lg-2">
                <app-icon [iconClass]="icons['go-left']"></app-icon>
                <span class="d-none d-lg-inline ms-1">
                    {{ fdate(yesterday, 'P') }}
                </span>
            </button>
        </a>
        }
        <a [routerLink]="['/work', 'day', actualDate]" class="ms-2">
            <button type="button" class="btn btn-sm"
                [ngClass]="{ 'btn-outline-secondary': isToday, 'btn-outline-primary': !isToday }">
                <app-icon [iconClass]="icons['today']"></app-icon>
                <span class="d-none d-lg-inline ms-1">
                    {{ i18n('common.today') }}
                </span>
            </button>
        </a>
        @if (tomorrow) {
        <a [routerLink]="['/work', 'day', fdate(tomorrow, 'yyyy-MM-dd')]" class="ms-2">
            <button type="button" class="btn btn-sm btn-outline-primary px-3 px-lg-2">
                <app-icon [iconClass]="icons['go-right']"></app-icon>
                <span class="d-none d-lg-inline ms-1">
                    {{ fdate(tomorrow, 'P') }}
                </span>
            </button>
        </a>
        }
    </div>
</div>