@if (type === 'ol') {
<ol class="custom-list list-group list-group-flush list-group-numbered" [attr.data-grouptype]="type">
    <ng-container *ngTemplateOutlet="genericListBody"></ng-container>
</ol>
}
@else {
<ul class="custom-list list-group list-group-flush" [attr.data-grouptype]="type">
    <ng-container *ngTemplateOutlet="genericListBody"></ng-container>
</ul>
}

<ng-template #genericListBody>
    <ng-container *ngTemplateOutlet="genericListItem; context: { listItem: null }"></ng-container>
    <ng-container *ngTemplateOutlet="genericListItem; context: { listItem: null, placeholder: true }"></ng-container>
    <!-- <li class="list-group-item border-0">
        @if (type === 'ul') {
        <span class="ms-1">•</span>A list item
        }
        @else if (type === 'cb') {
        <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
        <label class="form-check-label" for="firstCheckbox">First checkbox</label>
        }
        @else {
        A list item
        }
    </li>
    <li class="">A list item</li>
    <li class="list-group-item border-0">A list item</li>
    <li class="list-group-item border-1" style="border-style: dotted;">A list item</li> -->
</ng-template>

<ng-template #genericListItem let-listItem="listItem" let-placeholder="placeholder">
    <li class="list-group-item d-flex justify-content-between align-items-center" [attr.data-placeholder]="placeholder">
        @if (placeholder === true) {
        <button type="button" class="btn btn-sm stretched-link">
            <app-icon [iconClass]="icons['add']"></app-icon>
        </button>
        }
        @else {
        @if (type === 'ul') {
        <div>
            <span class="ms-1">•</span>A list item
        </div>
        }
        @else if (type === 'cb') {
        <div>
            <input class="form-check-input me-2" type="checkbox" value="" id="firstCheckbox">
            <label class="form-check-label" for="firstCheckbox">First checkbox</label>
        </div>
        }
        @else {
        A list item
        }
        <div>
            <button type="button" class="btn btn-sm btn-outline-danger stretched-link">
                <app-icon [iconClass]="icons['delete']"></app-icon>
            </button>
        </div>
        }
    </li>
</ng-template>