@if (!usersettingsObj || !selectedDay) {
<ui-centered-busy-indicator></ui-centered-busy-indicator>
}

@else {

<div class="container">

  <div class="pt-4 pt-md-2 mb-2">
    <!-- The page header with day back and forward buttons and busy indicator -->
    <app-work-month-header [selectedMonth]="selectedMonth" [busy]="monthLoading"></app-work-month-header>
  </div>

  <div class="pt-md-2 mb-2">

    <div class="row g-2">
      <!-- container with info cards -->

      <div class="col-12 col-md-4">
        <!-- card 1: Month info -->
        <app-work-month-info-box [workMonth]="monthObj"></app-work-month-info-box>
      </div>

      <div class="d-none d-md-block col-md-4">
        <!-- card 2: Chart box (todo) -->
      </div>

      <div class="col-12 col-md-4">
        <!-- card 3: Day info box -->
        <app-work-month-box-day [workDay]="selectedDay" [settings]="usersettingsObj"></app-work-month-box-day>
      </div>

      <!-- container with info cards -->
    </div>

  </div>

  <div class="pt-4 pt-md-2 mb-2">
    <!-- Calendar container -->
    <app-h3 [title]="i18nstr.workmonth.calendar.title" [containercss]="'pt-4'" [btn1]="i18nstr.calendar.showWeekend"
      btn1css="btn btn-sm btn-secondary"
      [btn1icon]="icons[usersettingsObj.view.calendar.showWeekend ? 'toggle-on' : 'toggle-off']"
      (btn1Clicked)="usersettingsObj.view.calendar.showWeekend = !usersettingsObj.view.calendar.showWeekend; pushUserSettings()"></app-h3>
  </div>

  <div class="border my-3 rounded">
    <mwl-calendar-month-view [activeDayIsOpen]="activeDayIsOpen" [viewDate]="viewDate" [events]="calendarEvents"
      [excludeDays]="(usersettingsObj.view.calendar.showWeekend ? [] : [0,6])" [refresh]="refresh"
      [weekStartsOn]="usersettingsObj.view.calendar.firstDayOfWeek" (beforeViewRender)="beforeMonthViewRender($event)"
      (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)" [locale]="locale">
    </mwl-calendar-month-view>
  </div>

</div>

}

<!-- <ng-container *ngIf="usersettingsObj != undefined && selectedDay != undefined">

  <ng-container *ngIf="!monthLoading && monthObj != undefined && selectedDay != undefined">


    <div class="container pt-md-2 mb-2">

      <div
        class="container-fluid p-0 mb-3 mb-md-1 d-flex flex-column flex-md-row justify-content-end align-items-center flex-wrap">
        <div class="me-3">
          {{ i18nstr.workmonth.offtime.title }}<i [ngClass]="[icons['help'], 'fs-8 me-1 help-icon pointer']"
            [tooltip]="i18nstr.workmonth.offtime.subtitle"></i>:
        </div>
        <nav class="h-100" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
          <ol class="breadcrumb d-flex align-items-center h-100 mb-0">
            <ng-container *ngFor="let item of offdayDroppableEvents">
              <li class="breadcrumb-item" *ngIf="item.meta.obj.quickselect">
                <button type="button"
                  [ngClass]="['btn btn-sm btn-outline-primary py-2 py-md-0', item.meta.obj.rowcolor]" mwlDraggable
                  [dropData]="{ event: item }" [touchStartLongPress]="{ delay: 300, delta: 30 }"
                  dragActiveClass="drag-active">
                  <app-icon [iconClass]="icons[item.meta.obj.icon]" [addCssClasses]="item.meta.obj.iconcolor"
                    [marginEnd]="1" *ngIf="item.meta.obj.icon !== ''"></app-icon>
                  {{ item.title }}
                </button>
              </li>
            </ng-container>
          </ol>
        </nav>
      </div>



    </div>

  </ng-container>

</ng-container> -->