<ui-centered-busy-indicator *ngIf="usersettingsObj == undefined"></ui-centered-busy-indicator>

<ng-container *ngIf="usersettingsObj != undefined">
  <div class="container pt-4 pt-md-2 mb-2">
    <div class="pb-2 border-bottom border-secondary border-2 d-flex justify-content-between">
      <h2 class="d-block d-md-none">{{ i18n('workmonth.pagetitleShort', [f(selectedMonth, 'MMM yyyy')]) }}</h2>
      <h2 class="d-none d-md-block">{{ i18n('workmonth.pagetitle', [f(selectedMonth, 'MMMM yyyy')]) }}</h2>
      <div>
        <nav class="h-100" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
          <ol class="breadcrumb d-flex align-items-center h-100 mb-0">
            <li class="breadcrumb-item">
              <ui-busy-indicator *ngIf="monthLoading"></ui-busy-indicator>
            </li>
            <a class="breadcrumb-item" [routerLink]="['/work', 'month', f(LastMonth, 'yyyy'), f(LastMonth, 'M')]">
              <button type="button" class="btn btn-sm btn-outline-primary">
                <i [class]="config.icons['go-left'] + ' me-1'"></i>
                {{ f(LastMonth, 'MMM') }}
              </button>
            </a>
            <a *ngIf="!IsToday"
              class="breadcrumb-item" [routerLink]="['/work', 'month', f(today, 'yyyy'), f(today, 'M')]">
              <button type="button" class="btn btn-sm btn-primary">
                <i [class]="config.icons['today'] + ' me-1'"></i>
                {{ f(today, 'MMM yy') }}
              </button>
            </a>
            <a class="breadcrumb-item" [routerLink]="['/work', 'month', f(NextMonth, 'yyyy'), f(NextMonth, 'M')]">
              <button type="button" class="btn btn-sm btn-outline-primary">
                {{ f(NextMonth, 'MMM') }}
                <i [class]="config.icons['go-right'] + ' ms-1'"></i>
              </button>
            </a>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!monthLoading && monthObj != undefined">

    <div class="container pt-md-2 mb-2">

      <div class="row g-2"><!-- container with info cards -->

        <div class="col-12 col-md-4"><!-- card 1: container month info -->
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <i [class]="config.icons['info'] + ' me-1'"></i>
                {{ i18n('workmonth.cards.target.title') }}
              </h5>
            </div>
            <div class="card-body">
              <table class="table table-sm table-fluid table-responsive table-borderless table-hover mb-0">
                <tbody>
                  <tr>
                    <th scope="col">
                      {{ i18n('workmonth.cards.target.businessDays') }}
                      <span class="fw-normal fs-8 d-inline d-md-none d-xl-inline">[ {{ i18n('workmonth.cards.target.offDays') }} ]</span>
                    </th>
                    <td>
                      <strong>{{ monthObj.days - monthObj.weekenddays - monthObj.holidays }}</strong>
                      <span class="fs-8 ms-1 d-inline d-md-none d-xl-inline">[ {{ monthObj.weekenddays }} / {{ monthObj.holidays }} ]</span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">
                      <span class="d-inline d-md-none d-xl-inline">{{ i18n('workmonth.cards.target.lastEdit') }}</span>
                      <span class="d-none d-md-inline d-xl-none">{{ i18n('workmonth.cards.target.lastEditShort') }}</span>
                    </th>
                    <td>
                      <span class="d-inline d-md-none d-xl-inline">{{ f(s2d(monthObj.updated), 'PPPppp') }}</span>
                      <span class="d-none d-md-inline d-xl-none">{{ f(s2d(monthObj.updated), 'PP') }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- card 1: container month info -->

        <div class="col-12 col-md-4"><!-- card 2: time booked -->
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <i [class]="config.icons['stopwatch'] + ' me-1'"></i>
                {{ i18n('workmonth.cards.time.title') }}
              </h5>
            </div>
            <div class="card-body">
              <table class="table table-sm table-fluid table-responsive table-borderless table-hover mb-0">
                <tbody>
                  <tr>
                    <th scope="col">
                      {{ i18n('workmonth.cards.time.takeover') }}
                    </th>
                    <td>
                      {{ monthObj.timestart }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">
                      {{ i18n('workmonth.cards.time.balance') }}
                    </th>
                    <td>
                      <strong>{{ monthObj.timedif }}</strong>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">
                      {{ i18n('workmonth.cards.time.carryover') }}
                    </th>
                    <td>
                      {{ monthObj.timeclose }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- card 2: time booked -->

      </div><!-- container with month calendar -->

    </div>

    <div class="container pt-4 pt-md-2 mb-2">
      <div class="pb-2 border-bottom border-secondary border-2 d-flex justify-content-between">
        <h3>{{ i18n('workmonth.calendar.title') }}</h3>
        <div>
          <nav class="h-100" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center h-100 mb-0">
              <li class="breadcrumb-item">
                <button type="button" [ngClass]="['btn btn-sm', usersettingsObj.view.calendar.asList ? 'btn-primary' : 'btn-outline-primary']"
                  (click)="usersettingsObj.view.calendar.asList = true; pushUserSettings();"
                  [title]="i18n('calendar.showAsListTitle')">
                  <i [class]="config.icons['list']"></i>
                </button>
              </li>
              <li class="breadcrumb-item">
                <button type="button" [ngClass]="['btn btn-sm', !usersettingsObj.view.calendar.asList ? 'btn-primary' : 'btn-outline-primary']"
                  (click)="usersettingsObj.view.calendar.asList = false; pushUserSettings();"
                  [title]="i18n('calendar.showAsGridTitle')">
                  <i [class]="config.icons['grid']"></i>
                </button>
              </li>
              <li class="breadcrumb-item">
                <button type="button" class="btn btn-sm btn-secondary"
                  (click)="usersettingsObj.view.calendar.showWeek = !usersettingsObj.view.calendar.showWeek; pushUserSettings();"
                  [title]="i18n('calendar.showWeekTitle')">
                  <i [class]="config.icons[usersettingsObj.view.calendar.showWeek ? 'toggle-on' : 'toggle-off'] + ' me-1'"></i>
                  {{ i18n('calendar.showWeek') }}
                </button>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <div class="container pt-md-2 mb-2">
      <mwl-calendar-month-view
        [viewDate]="selectedMonth"
        [events]="calendarEvents"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [locale]="locale"
      ></mwl-calendar-month-view>
      
<!--
      <ng-container *ngIf="!usersettingsObj.view.calendar.asList"> calendar grid view 
        <div class="card container">
          <div class="card-body p-0">
            <div class="row">
              <div class="card-header col" *ngIf="usersettingsObj.view.calendar.showWeek">{{ i18n('workmonth.calendar.grid.weekHeader') }}</div>
              <div class="card-header col">
                <span class="d-inline d-lg-none">{{ i18n('workmonth.calendar.grid.sundayHeaderSm') }}</span>
                <span class="d-none d-lg-inline">{{ i18n('workmonth.calendar.grid.sundayHeader') }}</span>
              </div>
              <div class="card-header col">
                <span class="d-inline d-lg-none">{{ i18n('workmonth.calendar.grid.mondayHeaderSm') }}</span>
                <span class="d-none d-lg-inline">{{ i18n('workmonth.calendar.grid.mondayHeader') }}</span>
              </div>
              <div class="card-header col">
                <span class="d-inline d-lg-none">{{ i18n('workmonth.calendar.grid.tuesdayHeaderSm') }}</span>
                <span class="d-none d-lg-inline">{{ i18n('workmonth.calendar.grid.tuesdayHeader') }}</span>
              </div>
              <div class="card-header col">
                <span class="d-inline d-lg-none">{{ i18n('workmonth.calendar.grid.wednesdayHeaderSm') }}</span>
                <span class="d-none d-lg-inline">{{ i18n('workmonth.calendar.grid.wednesdayHeader') }}</span>
              </div>
              <div class="card-header col">
                <span class="d-inline d-lg-none">{{ i18n('workmonth.calendar.grid.thursdayHeaderSm') }}</span>
                <span class="d-none d-lg-inline">{{ i18n('workmonth.calendar.grid.thursdayHeader') }}</span>
              </div>
              <div class="card-header col">
                <span class="d-inline d-lg-none">{{ i18n('workmonth.calendar.grid.fridayHeaderSm') }}</span>
                <span class="d-none d-lg-inline">{{ i18n('workmonth.calendar.grid.fridayHeader') }}</span>
              </div>
              <div class="card-header col">
                <span class="d-inline d-lg-none">{{ i18n('workmonth.calendar.grid.saturdayHeaderSm') }}</span>
                <span class="d-none d-lg-inline">{{ i18n('workmonth.calendar.grid.saturdayHeader') }}</span>
              </div>
            </div>
            <ng-container *ngFor="let week of weeks; let i = index;">
              <div class="row">
                <div class="card-header col" *ngIf="usersettingsObj.view.calendar.showWeek">
                  {{ week.weekNo }}
                </div>
                <div *ngFor="let day of week.days;"
                  class="col">
                  {{ day.date }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        {{lastOfMonth|json}}
        {{weeks|json}}
      </ng-container> calendar grid view -->

      <div class="row">
        {{ monthObj|json }}
      </div>
      <div class="row">
        {{ dayObjs|json }}
      </div>
    </div>

  </ng-container>

</ng-container>
