<ui-centered-busy-indicator *ngIf="usersettingsObj == undefined"></ui-centered-busy-indicator>

<ng-container *ngIf="usersettingsObj != undefined">
  <div class="container pt-4 pt-md-2 mb-2">
    <div class="pb-2 border-bottom border-secondary border-2 d-flex justify-content-between">
      <h2 class="d-block d-md-none">{{ i18n('workmonth.pagetitleShort', [f(selectedMonth, 'MMM yyyy')]) }}</h2>
      <h2 class="d-none d-md-block">{{ i18n('workmonth.pagetitle', [f(selectedMonth, 'MMMM yyyy')]) }}</h2>
      <div>
        <nav class="h-100" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
          <ol class="breadcrumb d-flex align-items-center h-100 mb-0">
            <li class="breadcrumb-item">
              <ui-busy-indicator *ngIf="monthLoading"></ui-busy-indicator>
            </li>
            <a class="breadcrumb-item" [routerLink]="['/work', 'month', f(LastMonth, 'yyyy'), f(LastMonth, 'M')]">
              <button type="button" class="btn btn-sm btn-outline-primary">
                <i [class]="config.icons['go-left'] + ' me-1'"></i>
                {{ f(LastMonth, 'MMM') }}
              </button>
            </a>
            <a *ngIf="!IsToday" class="breadcrumb-item"
              [routerLink]="['/work', 'month', f(today, 'yyyy'), f(today, 'M')]">
              <button type="button" class="btn btn-sm btn-primary">
                <i [class]="config.icons['today'] + ' me-1'"></i>
                {{ f(today, 'MMM yy') }}
              </button>
            </a>
            <a class="breadcrumb-item" [routerLink]="['/work', 'month', f(NextMonth, 'yyyy'), f(NextMonth, 'M')]">
              <button type="button" class="btn btn-sm btn-outline-primary">
                {{ f(NextMonth, 'MMM') }}
                <i [class]="config.icons['go-right'] + ' ms-1'"></i>
              </button>
            </a>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!monthLoading && monthObj != undefined">

    <div class="container pt-md-2 mb-2">

      <div class="row g-2">
        <!-- container with info cards -->

        <div class="col-12 col-md-4">
          <!-- card 1: container month info -->
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <i [class]="config.icons['info'] + ' me-1'"></i>
                {{ i18n('workmonth.cards.target.title') }}
              </h5>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between mb-2">
                <div class="fs-7">
                  {{ i18n('workmonth.cards.target.businessDays') }} [ {{ i18n('workmonth.cards.target.offDays') }} ]
                </div>
                <div class="font-weight-bold">
                  <strong>{{ monthObj.days - monthObj.weekenddays - monthObj.holidays }}</strong>
                  <span class="fs-8 ms-1">[ {{ monthObj.weekenddays }} / {{ monthObj.holidays }} ]</span>
                </div>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <div class="fs-7">
                  {{ i18n('workmonth.cards.target.lastEdit') }}
                </div>
                <div class="font-weight-bold">
                  <span class="d-none d-lg-inline">{{ f(s2d(monthObj.updated), 'PPpp') }}</span>
                  <span class="d-inline d-lg-none">{{ f(s2d(monthObj.updated), 'PP') }}</span>
                </div>
              </div>
            </div>
          </div>
        </div><!-- card 1: container month info -->

        <div class="col-12 col-md-4">
          <!-- card 2: time booked -->
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <i [class]="config.icons['stopwatch'] + ' me-1'"></i>
                {{ i18n('workmonth.cards.time.title') }}
              </h5>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between mb-2">
                <div class="fs-7">
                  {{ i18n('workmonth.cards.time.takeover') }}
                </div>
                <div class="font-weight-bold">
                  {{ i18n('calendar.duration.short', ['' + monthObj.timestart]) }}
                </div>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <div class="fs-7">
                  {{ i18n('workmonth.cards.time.balance') }}
                </div>
                <div class="font-weight-bold">
                  {{ i18n('calendar.duration.short', ['' + monthObj.timedif]) }}
                </div>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <div class="fs-7">
                  {{ i18n('workmonth.cards.time.carryover') }}
                </div>
                <div class="font-weight-bold">
                  {{ i18n('calendar.duration.short', ['' + monthObj.timeclose]) }}
                </div>
              </div>
            </div>
          </div>
        </div><!-- card 2: time booked -->

      </div><!-- container with month calendar -->

    </div>

    <div class="container pt-4 pt-md-2 mb-2">
      <div class="pb-2 border-bottom border-secondary border-2 d-flex justify-content-between">
        <h3>{{ i18n('workmonth.calendar.title') }}</h3>
        <div>
          <nav class="h-100" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center h-100 mb-0">
              <li class="breadcrumb-item">
                <button type="button" class="btn btn-sm btn-secondary"
                  (click)="usersettingsObj.view.calendar.showWeekend = !usersettingsObj.view.calendar.showWeekend; pushUserSettings();"
                  [title]="i18n('calendar.showWeekendTitle')">
                  <i
                    [class]="config.icons[usersettingsObj.view.calendar.showWeekend ? 'toggle-on' : 'toggle-off'] + ' me-1'"></i>
                  {{ i18n('calendar.showWeekend') }}
                </button>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <div class="container pt-md-2 mb-2">
      <div class="container-fluid p-0 mb-1 d-flex justify-content-end flex-wrap">
        <ng-container *ngIf="workprops != undefined">
          <nav class="h-100" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center h-100 mb-0">
              <ng-container *ngFor="let item of offdayDroppableEvents">
                <li class="breadcrumb-item" *ngIf="item.meta.obj.quickselect">
                  <button type="button" [ngClass]="['btn btn-sm btn-outline-dark py-0', item.meta.obj.rowcolor]"
                    mwlDraggable [dropData]="{ event: item }" [touchStartLongPress]="{ delay: 300, delta: 30 }"
                    dragActiveClass="drag-active">
                    <i *ngIf="item.meta.obj.icon !== ''"
                      [ngClass]="[config.icons[item.meta.obj.icon] + ' ' + item.meta.obj.iconcolor, 'me-1']"></i>
                    {{ item.title }}
                  </button>
                </li>
              </ng-container>
            </ol>
          </nav>
        </ng-container>
      </div>
      <mwl-calendar-month-view [activeDayIsOpen]="activeDayIsOpen" [viewDate]="viewDate" [events]="calendarEvents"
        [excludeDays]="(usersettingsObj.view.calendar.showWeekend ? [] : [0,6])" [refresh]="refresh"
        [weekStartsOn]="usersettingsObj.view.calendar.firstDayOfWeek" (beforeViewRender)="beforeMonthViewRender($event)"
        (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)" [locale]="locale"></mwl-calendar-month-view>

      <div class="mt-3">
        <h4>{{ i18n('workmonth.offtime.title') }}</h4>
        <p class="text-muted">{{ i18n('workmonth.offtime.subtitle') }}</p>
        <div class="row">

        </div>
      </div>

    </div>

  </ng-container>

</ng-container>