<div class="container pt-4 pt-md-2 mb-2">
    <app-h2 [title]="i18n('db.classes.title')" [busy]="busy" [btn1]="i18n('common.back')"
        [btn1css]="'btn btn-sm btn-outline-primary'" [btn1icon]="config.icons['go-left']" [btn1link]="'/db'"
        [btn2]="i18n('common.add')" [btn2css]="'btn btn-sm btn-outline-primary'" [btn2icon]="config.icons['add']"
        (btn2Clicked)="edit()">

    </app-h2>
</div>

<div #editor>
    <div class="container pt-4 pt-md-2 mb-2" *ngIf="editclass">
        <div class="card">
            <app-h4 [containercss]="'card-header'" [title]="i18n('db.classes.editor.title')" [busy]="saving"
                [btn1]="i18n('common.save')" [btn1css]="'btn btn-sm btn-success'" [btn1icon]="config.icons['save']"
                (btn1Clicked)="submit()" [btn2css]="editclass.id > 0 ? 'btn btn-sm btn-outline-danger' : ''"
                [btn2icon]="editclass.id > 0 ? config.icons['delete'] : ''" (btn2Clicked)="delete(editclass)"
                [xshow]="true" (xClicked)="this.editclass = undefined"></app-h4>
            <div class="card-body">
                <form #f (submit)="submit()" ngNativeValidate>

                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            <div class="form-group">
                                <label for="class-techname" class="form-label required">{{
                                    i18n('db.classes.techname') }}</label>
                                <input type="text" class="form-control" id="class-techname" name="class-techname"
                                    [(ngModel)]="editclass.techname" [placeholder]="i18n('db.classes.techname')"
                                    (change)="submit()" required>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <div class="form-group">
                                <label for="class-default" class="form-label">{{
                                    i18n('db.classes.default') }}</label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="class-default"
                                        name="class-default" [(ngModel)]="editclass.isdefault" (change)="submit()">
                                    <label for="class-default" class="form-check-label" *ngIf="editclass.isdefault">{{
                                        i18n('common.yes') }}</label>
                                    <label for="class-default" class="form-check-label" *ngIf="!editclass.isdefault">{{
                                        i18n('common.no') }}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            <div class="form-group">
                                <label for="class-localized" class="form-label">{{
                                    i18n('db.classes.editor.localized') }}</label>
                                <input type="text" class="form-control" id="class-localized" name="class-localized"
                                    [(ngModel)]="editclass.name" [placeholder]="i18n('db.classes.localized')"
                                    (change)="true" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="form-group">
                                <label for="class-description" class="form-label">{{
                                    i18n('db.classes.editor.description') }}</label>
                                <input type="text" class="form-control" id="class-description" name="class-description"
                                    [(ngModel)]="editclass.description"
                                    [placeholder]="i18n('db.classes.editor.descriptionPlaceholder')"
                                    (change)="submit()">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="form-group">
                                <label for="class-namepattern" class="form-label">{{
                                    i18n('db.classes.editor.namepattern') }}</label>
                                <input type="text" class="form-control" id="class-namepattern" name="class-namepattern"
                                    [(ngModel)]="editclass.namepattern"
                                    [placeholder]="i18n('db.classes.editor.namepatternPlaceholder')"
                                    (change)="submit()">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4 pt-md-2 mb-2">
    <div class="flex-table flex-table-sm mb-3">
        <div class="flex-table-head row">
            <div class="col-6 col-lg-3">
                {{ i18n('db.classes.techname') }}
                <app-sorter-icon columnName="techname" [sortAsc]="sortAsc" [sortBy]="sortBy"
                    (click)="sort('techname', sortBy === 'techname' ? !sortAsc : sortAsc);"></app-sorter-icon>
            </div>
            <div class="col-6 col-lg-3">
                {{ i18n('db.classes.localized') }}
                <app-sorter-icon columnName="name" [sortAsc]="sortAsc" [sortBy]="sortBy"
                    (click)="sort('name', sortBy === 'name' ? !sortAsc : sortAsc);"></app-sorter-icon>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                {{ i18n('db.classes.pattern') }}
            </div>
        </div>
        <ng-container *ngFor="let item of classes; let i = index;">
            <div (click)="edit(item);" class="flex-table-body row pointer">
                <div class="col-6 col-lg-3 text-truncate">
                    {{ item.techname }}
                    <span class="badge bg-primary" *ngIf="item.isdefault">{{ i18n('db.classes.default') }}</span>
                </div>
                <div class="col-6 col-lg-3 text-truncate">
                    {{ i18n('classify.classes.' + item.techname) }}
                </div>
                <div class="col-lg-6 d-none d-lg-block fs-7 text-truncate">
                    {{ item.namepattern }}
                </div>
            </div>
        </ng-container>
    </div>
</div>