<ng-container *ngIf="case != null">

    <div class="container pt-4 pt-md-2 mb-2">
        <app-h2 [title]="i18n('case.title', [case.title])" [busy]="busy"></app-h2>
    </div>

    <div class="container pt-4 pt-md-2 mb-2">
        <ul class="nav nav-tabs case-nav-group">
            <li class="nav-item">
                <a [ngClass]="[activeRouteChild == '' ? 'nav-link active' : 'nav-link']"
                    [routerLink]="['/case', case.id]">
                    <app-icon [iconClass]="icons['info']" [marginEnd]="1"
                        addCssClasses="d-none d-md-inline-block"></app-icon>
                    {{ i18n('case.metacard.shorttitle') }}
                </a>
            </li>
            <li class="nav-item ms-1" *ngIf="haschilds(case.id)">
                <a [ngClass]="[activeRouteChild == 'childs' ? 'nav-link active' : 'nav-link']"
                    [routerLink]="['/case', case.id, 'childs']">
                    <app-icon [iconClass]="icons['cases']" [marginEnd]="1"
                        addCssClasses="d-none d-md-inline-block"></app-icon>
                    {{ i18n('case.childscard.title') }}
                </a>
            </li>
            <li class="nav-item ms-1">
                <a [ngClass]="[activeRouteChild == 'times' ? 'nav-link active' : 'nav-link']"
                    [routerLink]="['/case', case.id, 'times']">
                    <app-icon [iconClass]="icons['stopwatch']" [marginEnd]="1"
                        addCssClasses="d-none d-md-inline-block"></app-icon>
                    {{ i18n('case.timecard.title') }}
                </a>
            </li>
            <li class="nav-item ms-1">
                <a [ngClass]="[activeRouteChild == 'files' ? 'nav-link active' : 'nav-link']"
                    [routerLink]="['/case', case.id, 'files']">
                    <app-icon [iconClass]="icons['folder']" [marginEnd]="1"
                        addCssClasses="d-none d-md-inline-block"></app-icon>
                    {{ i18n('case.filescard.title') }}
                </a>
            </li>
        </ul>
        <form #f (submit)="updateCase()" ngNativeValidate>
            <div class="card rounded-top-0 border-top-0">

                <div [ngClass]="[ activeRouteChild == '' ? 'd-block' : 'd-none' ]">
                    <!-- case meta card -->

                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="text-nowrap text-truncate">{{ i18n('case.metacard.title') }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- case header data parent + casename -->
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="form-group">
                                    <label for="case-name" class="form-label required">{{ i18n('case.metacard.name')
                                        }}</label>
                                    <input type="text" class="form-control" id="case-name" name="case-name"
                                        [(ngModel)]="case.title" (change)="changes['name'] = case.title; updateCase();"
                                        required>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="form-group">
                                    <label for="case-parent" class="form-label required">{{ i18n('case.metacard.parent')
                                        }}</label>
                                    <div class="input-group">
                                        <select class="form-select" id="case-parent" name="case-parent"
                                            [(ngModel)]="case.parentid"
                                            (change)="case.parentid = +case.parentid!; updateCase();" required>
                                            <option [value]="-1">{{ i18n('case.metacard.noparent') }}</option>
                                            <ng-container *ngFor="let item of listOfCases">
                                                <option [value]="item.id" [disabled]="hasParent(item.id, case.id)">{{
                                                    item.casepath }}</option>
                                            </ng-container>
                                        </select>
                                        <a [routerLink]="['/case', case.parentid]" class="btn btn-outline-secondary"
                                            type="button" *ngIf="getCase(case.parentid)"><i
                                                [class]="icons['goto']"></i></a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="form-group">
                                    <label for="case-comment" class="form-label">{{ i18n('case.metacard.comment')
                                        }}</label>
                                    <textarea class="form-control" id="case-comment" name="case-comment"
                                        [(ngModel)]="case.comment"
                                        (change)="changes['comment'] = case.title; updateCase();"></textarea>
                                </div>
                            </div>
                            <!-- case header data parent + casename -->
                        </div>

                        <div class="row">
                            <!-- case participants -->
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="form-group">
                                    <label for="case-client" class="form-label">{{ i18n('case.metacard.client')
                                        }}</label>
                                    <select class="form-select" id="case-client" name="case-client"
                                        [(ngModel)]="case.clientid"
                                        (change)="case.clientid = +case.clientid!; updateCase();">
                                        <option [value]="-1">{{ i18n('common.select.pickOne') }}</option>
                                        <ng-container *ngFor="let item of listOfClients">
                                            <option [value]="item.id">{{ item.name1 }}, {{ item.street }}, {{
                                                item.zip }} {{ item.city }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="form-group">
                                    <label for="case-party" class="form-label">{{ i18n('case.metacard.party') }}</label>
                                    <select class="form-select" id="case-party" name="case-party"
                                        [(ngModel)]="case.partyid"
                                        (change)="case.partyid = +case.partyid!; updateCase();">
                                        <option [value]="-1">{{ i18n('common.select.pickOne') }}</option>
                                        <ng-container *ngFor="let item of listOfParties">
                                            <option [value]="item.id">{{ item.name1 }}, {{ item.street }}, {{
                                                item.zip }} {{ item.city }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <!-- case participants -->
                        </div>

                        <div class="row">
                            <!-- case type and status -->
                            <div class="col-12 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="case-type" class="form-label required">{{ i18n('case.metacard.type')
                                        }}</label>
                                    <select class="form-select" id="case-type" name="case-type"
                                        [(ngModel)]="case.typeid" (change)="case.typeid = +case.typeid!; updateCase();"
                                        required>
                                        <option value="">{{ i18n('common.select.pickOne') }}</option>
                                        <ng-container *ngFor="let item of listOfCaseTypes">
                                            <option [value]="item.id">{{ i18n('casetype.' + item.name) }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="case-status" class="form-label">{{ i18n('case.metacard.status')
                                        }}</label>
                                    <input type="text" class="form-control-plaintext form-control-px" id="case-status"
                                        name="case-status"
                                        [value]="getCaseStatus(case.statusid) ? i18n('casestatus.' + getCaseStatus(case.statusid)!.name) : ''"
                                        readonly>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 mb-3"
                                *ngIf="getCaseStatus(case.statusid) && getCaseStatus(case.statusid)?.followup?.status && getCaseStatus(getCaseStatus(case.statusid)!.followup!.status)">
                                <div class="form-group">
                                    <label for="case-nextstatus" class="form-label">{{ i18n('case.metacard.nextstatus')
                                        }}</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control-plaintext form-control-px"
                                            id="case-nextstatus" name="case-nextstatus"
                                            [value]="i18n('casestatus.' + getCaseStatus(getCaseStatus(case.statusid)!.followup!.status)!.name)"
                                            readonly>
                                        <button
                                            (click)="case.statusid = getCaseStatus(case.statusid)!.followup!.status!; updateCase();"
                                            *ngIf="getCaseStatus(case.statusid)!.followup!.autoswitch == false || case.period.end == null"
                                            class="btn btn-outline-secondary rounded" type="button"><i
                                                [class]="icons['step-next']"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- case type and status -->
                        </div>

                        <div class="row">
                            <!-- case meta information -->
                            <div class="col-6 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="case-created" class="form-label">{{ i18n('case.metacard.created')
                                        }}</label>
                                    <input type="text" class="form-control-plaintext form-control-px" id="case-created"
                                        name="case-created" [value]="formatService.fdate(case.created, 'Pp')" readonly>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 mb-3" *ngIf="case.deleted">
                                <div class="form-group">
                                    <label for="case-deleted" class="form-label">{{ i18n('case.metacard.deleted')
                                        }}</label>
                                    <input type="text" class="form-control-plaintext form-control-px" id="case-deleted"
                                        name="case-deleted" [value]="formatService.fdate(case.deleted, 'Pp')" readonly>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="case-followup" class="form-label">{{ i18n('case.metacard.followup')
                                        }}</label>
                                    <div class="input-group">
                                        <select class="form-select" id="case-followup" name="case-followup"
                                            [(ngModel)]="case.followupcaseid"
                                            (change)="case.followupcaseid = +case.followupcaseid!; updateCase();">
                                            <option [value]="-1">{{ i18n('common.select.pickOne') }}</option>
                                            <ng-container *ngFor="let item of listOfCases">
                                                <option [value]="item.id" [disabled]="item.id ==  case.id">{{
                                                    item.casepath }}</option>
                                            </ng-container>
                                        </select>
                                        <a [routerLink]="['/case', case.followupcaseid]" *ngIf="case.followupcaseid"
                                            class="btn btn-outline-secondary" type="button"><i
                                                [class]="icons['goto']"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="case-filecount" class="form-label">{{ i18n('case.metacard.filecount')
                                        }}</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control-plaintext form-control-px"
                                            id="case-filecount" name="case-filecount"
                                            [value]="formatService.fnumber(case.filescount)" readonly>
                                        <a [routerLink]="['/case', case.id, 'files']"
                                            class="btn btn-outline-secondary rounded" type="button"><i
                                                [class]="icons['goto']"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- case meta information -->
                        </div>
                    </div>
                </div><!-- case meta card -->

                <div [ngClass]="[ activeRouteChild == 'times' ? 'd-block' : 'd-none' ]">
                    <!-- case times card -->
                    <div class="card-header">
                        <h3 class="text-nowrap text-truncate">{{ i18n('case.timecard.title') }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="case-period-start" class="form-label">{{ i18n('case.timecard.start')
                                        }}</label>
                                    <input type="date" class="form-control" id="case-period-start"
                                        name="case-period-start" [(ngModel)]="case.period.start"
                                        (change)="case.period.start = case.period.start === '' ? null : case.period.start; updateCase();">
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="case-period-minperiod" class="form-label">{{
                                        i18n('case.timecard.minperiod')
                                        }}</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control-plaintext form-control-px"
                                            id="case-period-minperiod" name="case-period-minperiod"
                                            [value]="this.duration(case.period.minperiod)"
                                            [placeholder]="i18n('common.period.placeholder')" readonly>
                                        <button class="btn btn-outline-secondary rounded dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                            aria-expanded="false">
                                            <app-icon [iconClass]="icons['edit']"></app-icon>
                                        </button>
                                        <app-period-dropdown-menu [period]="case.period.minperiod"
                                            idprefix="case-period-minperiod"
                                            (changed)="case.period.minperiod = $event;updateCase();">
                                        </app-period-dropdown-menu>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="case-period-period" class="form-label">{{ i18n('case.timecard.period')
                                        }}</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control-plaintext form-control-px"
                                            id="case-period-period" name="case-period-period"
                                            [value]="this.duration(case.period.period)"
                                            [placeholder]="i18n('common.period.placeholder')" readonly>
                                        <button class="btn btn-outline-secondary rounded dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                            aria-expanded="false">
                                            <app-icon [iconClass]="icons['edit']"></app-icon>
                                        </button>
                                        <app-period-dropdown-menu [period]="case.period.period"
                                            idprefix="case-period-period"
                                            (changed)="case.period.period = $event;updateCase();">
                                        </app-period-dropdown-menu>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="case-period-termination" class="form-label">{{
                                        i18n('case.timecard.termination')
                                        }}</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control-plaintext form-control-px"
                                            id="case-period-termination" name="case-period-termination"
                                            [value]="this.duration(case.period.terminationperiod)"
                                            [placeholder]="i18n('common.period.placeholder')" readonly>
                                        <button class="btn btn-outline-secondary rounded dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                            aria-expanded="false">
                                            <app-icon [iconClass]="icons['edit']"></app-icon>
                                        </button>
                                        <app-period-dropdown-menu [period]="case.period.terminationperiod"
                                            idprefix="case-period-termination"
                                            (changed)="case.period.terminationperiod = $event;updateCase();">
                                        </app-period-dropdown-menu>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="case-period-end" class="form-label">{{ i18n('case.timecard.end')
                                        }}</label>
                                    <input type="date" class="form-control" id="case-period-end" name="case-period-end"
                                        [(ngModel)]="case.period.end"
                                        (change)="case.period.end = case.period.end === '' ? null : case.period.end; updateCase();">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- case notifications -->
                            <div class="col-12 mb-3 mb-xl-0">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                        [(ngModel)]="case.notification.upcoming" id="case-notify-upcoming"
                                        name="case-notify-upcoming"
                                        (change)="case.notification.upcoming = (+case.notification.upcoming === 1); updateCase();">
                                    <label for="case-notify-upcoming" class="form-label" value="1">{{
                                        i18n('case.timecard.notifyUpcoming') }}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                        [(ngModel)]="case.notification.forecast" id="case-notify-forecast"
                                        name="case-notify-forecast"
                                        (change)="case.notification.forecast = (+case.notification.forecast === 1); updateCase();">
                                    <label for="case-notify-forecast" class="form-label" value="1">{{
                                        i18n('case.timecard.notifyForecast') }}</label>
                                </div>
                            </div>
                            <!-- case notifications -->
                        </div>
                    </div>
                </div><!-- case times card -->

                <div [ngClass]="[ activeRouteChild == 'childs' ? 'd-block' : 'd-none' ]">
                    <!-- case childs card -->
                    <div class="card-header">
                        <app-h3 [title]="i18n('case.childscard.title')" [btn1]="i18n('cases.showDeleted')"
                            [btn1icon]="showDeleted ? 'fa-solid fa-toggle-on' : 'fa-solid fa-toggle-off'"
                            [btn1css]="'btn btn-sm btn-secondary'" (btn1Clicked)="changeShowDeleted(!showDeleted)"
                            [btn2]="i18n('cases.showInRetention')"
                            [btn2icon]="showInRetention ? 'fa-solid fa-toggle-on' : 'fa-solid fa-toggle-off'"
                            [btn2css]="'btn btn-sm btn-secondary'"
                            (btn2Clicked)="changeShowRetention(!showInRetention)">
                        </app-h3>
                    </div>
                    <ul class="list-group">
                        <ng-container *ngFor="let id of childs">
                            <ng-container
                                *ngTemplateOutlet="caseTemplate;context: { caseid: id, case: getCase(id), level: 0 }">
                            </ng-container>
                        </ng-container>
                    </ul>
                </div><!-- case childs card -->

                <div [ngClass]="[ activeRouteChild == 'files' ? 'd-block' : 'd-none' ]">
                    <!-- case files card -->
                    <div class="card-header">
                        <app-h3 [title]="i18n('case.filescard.title')">
                        </app-h3>
                    </div>
                    <ul class="list-group flush hover rounded-0 " *ngIf="casefiles.length > 0">
                        <ng-container *ngFor="let file of casefiles;">
                            <a [ngClass]="['fix-border list-group-item', 'py-2', 'pe-2', 'border-start-0 border-end-0']"
                                [routerLink]="['/file', file.id]">
                                <file-list-item [file]="file" [showButtons]="false">
                                </file-list-item>
                            </a>
                        </ng-container>
                    </ul>
                </div><!-- case files card -->

            </div>

        </form>
    </div>

</ng-container>

<ng-template #caseTemplate let-caseid="caseid" let-case="case" let-level="level">
    <ng-container *ngIf="case != null">
        <ng-container *ngIf="showCase(case)">
            <a [ngClass]="['fix-border list-group-item', 'py-2', 'pe-2', 'border-start-0 border-end-0', 'intend-level-' + level]"
                [routerLink]="['/case', case.id]">
                <case-list-item [case]="case"></case-list-item>
            </a>
        </ng-container>
        <ng-container *ngIf="haschilds(caseid)">
            <ng-container *ngFor="let id of getChilds(caseid)">
                <ng-container
                    *ngTemplateOutlet="caseTemplate;context: { caseid: id, case: getCase(id), level: level + 1 }">
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>