<ng-container *ngIf="case != null">

    <div class="container pt-4 pt-md-2 mb-2">
        <app-h2 [title]="i18n('case.title', [case.title])" [busy]="busy"></app-h2>
    </div>

    <div class="container pt-4 pt-md-2 mb-2">
        <form #f (submit)="updateCase()" ngNativeValidate>
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="text-nowrap text-truncate">{{ i18n('case.metacard.title') }}</h3>
                </div>
                <div class="card-body">

                    <div class="row">
                        <!-- case header data parent + casename -->
                        <div class="col-12 col-lg-6 mb-3">
                            <div class="form-group">
                                <label for="case-name" class="form-label required">{{ i18n('case.metacard.name')
                                    }}</label>
                                <input type="text" class="form-control" id="case-name" name="case-name"
                                    [(ngModel)]="case.title" (change)="changes['name'] = case.title; updateCase();"
                                    required>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <div class="form-group">
                                <label for="case-parent" class="form-label required">{{ i18n('case.metacard.parent')
                                    }}<span *ngIf="getCase(case.parentid)"> [ <a [routerLink]="['/case', case.parentid]"
                                            class="text-muted fs-7"><i
                                                [class]="config.icons['goto'] + ' me-1 fs-8'"></i>{{ i18n('common.goto')
                                            }}</a> ]</span></label>
                                <select class="form-select" id="case-parent" name="case-parent" [(ngModel)]="case.parentid"
                                    (change)="case.parentid = +case.parentid!; updateCase();" required>
                                    <option [value]="-1">{{ i18n('case.metacard.noparent') }}</option>
                                    <ng-container *ngFor="let item of listOfCases">
                                        <option [value]="item.id" [disabled]="hasParent(item.id, case.id)">{{ item.casepath }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <!-- case header data parent + casename -->
                    </div>

                    <div class="row">
                        <!-- case type and status -->
                        <div class="col-12 col-lg-3 mb-3">
                            <div class="form-group">
                                <label for="case-type" class="form-label required">{{ i18n('case.metacard.type')
                                    }}</label>
                                <select class="form-select" id="case-type" name="case-type" [(ngModel)]="case.typeid"
                                    (change)="case.typeid = +case.typeid!; updateCase();" required>
                                    <option value="">{{ i18n('common.select.pickOne') }}</option>
                                    <ng-container *ngFor="let item of listOfCaseTypes">
                                        <option [value]="item.id">{{ i18n('casetype.' + item.name) }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 mb-3">
                            <div class="form-group">
                                <label for="case-status" class="form-label">{{ i18n('case.metacard.status')
                                    }}</label>
                                <input type="text" class="form-control-plaintext form-control-px" id="case-status"
                                    name="case-status"
                                    [value]="getCaseStatus(case.statusid) ? i18n('casestatus.' + getCaseStatus(case.statusid)!.name) : ''"
                                    readonly>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 mb-3"
                            *ngIf="getCaseStatus(case.statusid) && getCaseStatus(case.statusid)?.followup?.status && getCaseStatus(getCaseStatus(case.statusid)!.followup!.status)">
                            <div class="form-group">
                                <label for="case-nextstatus" class="form-label">{{ i18n('case.metacard.nextstatus')
                                    }}<ng-container *ngIf="getCaseStatus(case.statusid)!.followup!.autoswitch == false || case.period.end == null">
                                        [ <span class="text-muted fs-7 pointer"
                                            (click)="case.statusid = getCaseStatus(case.statusid)!.followup!.status!; updateCase();"><i
                                                [class]="config.icons['step-next'] + ' me-1 fs-8'"></i>{{
                                            i18n('common.switchTo')
                                            }}</span> ]</ng-container></label>
                                <input type="text" class="form-control-plaintext form-control-px" id="case-nextstatus"
                                    name="case-nextstatus"
                                    [value]="i18n('casestatus.' + getCaseStatus(getCaseStatus(case.statusid)!.followup!.status)!.name)"
                                    readonly>
                            </div>
                        </div>
                        <!-- case type and status -->
                    </div>

                    <div class="row">
                        <!-- case meta information -->
                        <div class="col-6 col-lg-3 mb-3">
                            <div class="form-group">
                                <label for="case-created" class="form-label">{{ i18n('case.metacard.created') }}</label>
                                <input type="text" class="form-control-plaintext form-control-px" id="case-created"
                                    name="case-created" [value]="formatService.fdate(case.created, 'Pp')" readonly>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-3" *ngIf="case.deleted">
                            <div class="form-group">
                                <label for="case-deleted" class="form-label">{{ i18n('case.metacard.deleted') }}</label>
                                <input type="text" class="form-control-plaintext form-control-px" id="case-deleted"
                                    name="case-deleted" [value]="formatService.fdate(case.deleted, 'Pp')" readonly>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-3" *ngIf="getCase(case.followupcaseid)">
                            <div class="form-group">
                                <label for="case-followup" class="form-label">{{ i18n('case.metacard.followup')
                                    }} [ <a [routerLink]="['/case', case.followupcaseid]" class="text-muted fs-7"><i
                                            [class]="config.icons['goto'] + ' me-1 fs-8'"></i>{{ i18n('common.goto')
                                        }}</a> ]</label>
                                <input type="text" class="form-control-plaintext form-control-px" id="case-followup"
                                    name="case-followup" [value]="getCase(case.followupcaseid)!.title" readonly>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mb-3">
                            <div class="form-group">
                                <label for="case-filecount" class="form-label">{{ i18n('case.metacard.filecount')
                                    }} [ <a [routerLink]="['files']" class="text-muted fs-7"><i
                                            [class]="config.icons['goto'] + ' me-1 fs-8'"></i>{{ i18n('common.goto')
                                        }}</a> ]</label>
                                <input type="text" class="form-control-plaintext form-control-px" id="case-filecount"
                                    name="case-filecount" [value]="formatService.fnumber(case.filescount)" readonly>
                            </div>
                        </div>
                        <!-- case meta information -->
                    </div>

                </div>

            </div>

            <div class="card mt-4 mt-lg-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="text-nowrap text-truncate">{{ i18n('case.referencescard.title') }}</h3>
                </div>
            </div>

        </form>
    </div>

</ng-container>