<div class="container pt-4 pt-md-2 mb-2">
    <app-h2 [title]="i18n('db.contacts.types.title')" [busy]="busy" [btn1]="i18n('common.back')"
        [btn1css]="'btn btn-sm btn-outline-primary'" [btn1icon]="config.icons['go-left']" [btn1link]="'/db'"
        [btn2]="i18n('common.add')" [btn2css]="'btn btn-sm btn-outline-primary'" [btn2icon]="config.icons['add']"
        (btn2Clicked)="edit()">
    </app-h2>
</div>

<div #editor>
    <div class="container pt-4 pt-md-2 mb-2" *ngIf="editctype">
        <div class="card">
            <app-h4 [containercss]="'card-header'" [title]="i18n('db.contacts.types.editor.title')" [busy]="saving"
                [btn1]="i18n('common.save')" [btn1css]="'btn btn-sm btn-success'" [btn1icon]="config.icons['save']"
                (btn1Clicked)="submit(f)" [btn2css]="editctype.id > 0 ? 'btn btn-sm btn-outline-danger' : ''"
                [btn2icon]="editctype.id > 0 ? config.icons['delete'] : ''" (btn2Clicked)="delete(editctype)"
                [xshow]="true" (xClicked)="editctype = undefined"></app-h4>
            <div class="card-body">
                <form #f="ngForm" (submit)="submit(f)" ngNativeValidate>

                    <div class="row">
                        <div class="col-9 col-lg-6 mb-3">
                            <div class="form-group">
                                <label for="contacttype-name" class="form-label required">{{
                                    i18n('db.contacts.types.name') }}</label>
                                <input type="text" class="form-control" id="contacttype-name" name="contacttype-name"
                                    [(ngModel)]="editctype.name" [placeholder]="i18n('db.contacts.types.name')"
                                    required>
                            </div>
                        </div>
                        <div class="col-9 col-lg-6 mb-3">
                            <div class="form-group">
                                <label for="contacttype-icon" class="form-label required">{{
                                    i18n('db.contacts.types.icon') }}</label>
                                <input type="text" class="form-control" id="contacttype-icon" name="contacttype-icon"
                                    [(ngModel)]="editctype.icon" [placeholder]="i18n('db.contacts.types.icon')"
                                    required>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4 pt-md-2 mb-2">
    <div class="flex-table flex-table-sm mb-3">
        <div class="flex-table-head row">
            <div class="col-1">
                {{ i18n('db.contacts.types.icon') }}
            </div>
            <div class="col-5">
                {{ i18n('db.contacts.types.name') }}
                <app-sorter-icon columnName="name" [sortAsc]="sortAsc" [sortBy]="sortBy"
                    (click)="sort('name', sortBy === 'name' ? !sortAsc : sortAsc);"></app-sorter-icon>
            </div>
            <div class="col-6">
                {{ i18n('db.contacts.types.i18nname') }}
                <app-sorter-icon columnName="i18nname" [sortAsc]="sortAsc" [sortBy]="sortBy"
                    (click)="sort('i18nname', sortBy === 'i18nname' ? !sortAsc : sortAsc);"></app-sorter-icon>
            </div>
        </div>
        <ng-container *ngFor="let item of ctypes; let i = index;">
            <div (click)="edit(item);" class="flex-table-body row pointer">
                <div class="col-1 text-truncate">
                    <app-icon [iconClass]="item.icon"></app-icon>
                </div>
                <div class="col-5 text-truncate">
                    {{ item.name }}
                </div>
                <div class="col-6 text-truncate">
                    {{ item.i18nname }}
                </div>
            </div>
        </ng-container>
    </div>
</div>