<div class="login">
  <div class="container pt-5 d-flex justify-content-center">

    <div class="d-flex h-100 align-items-center text-center">
      <!-- oauth2 login -->
      <div class="card body bg-gradient border border-secondary shadow-sm rounded">
        <form #form="ngForm" (ngSubmit)="submitOauth2()">
          <div class="card-body">
            <h5 class="card-title pb-2 mb-2 border-bottom border-2 border-secondary">{{ i18nstr.login.oauth2.title }}
            </h5>
            <p class="">{{ i18nstr.login.oauth2.subtitle }}</p>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" [disabled]="busy">
              <app-icon [iconClass]="icons['cloud']" [marginEnd]="2"></app-icon>
              {{ i18nstr.login.oauth2.button }}
            </button>
          </div>
        </form>
      </div>
    </div><!-- oauth2 login -->

  </div>
</div>