<header>
  <nav class="navbar navbar-expand navbar-sm navbar-secondary bg-secondary">
    <div class="container-fluid d-flex justify-content-center">
      <ul class="navbar-nav">
        <ng-container *ngFor="let item of config.navbar.workitems; let i = index">
          <li class="nav-item mx-2" *ngIf="onShowLink(item)">
            <a [class]="'nav-link ' + (routeUrl == item.link ? 'active' : '')" [routerLink]="item.link">
              <app-icon [iconClass]="config.icons[item.icon]" [marginEnd]="1"></app-icon>
              <span class="d-none d-md-inline">
                {{ i18n(item.title) }}
              </span>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>