<div class="d-flex pointer" (click)="click(); $event.stopPropagation();">
    <div class="d-flex flex-column flex-grow-1">
        <div class="d-flex">
            <div class="pointer d-none d-lg-block" *ngIf="relevance">
                <span class="badge bg-light text-dark fw-lighter">{{ i18n('search.result.points', ['' +
                    formatService.fnumber(relevance)])
                    }}</span>
            </div>
            <div class="flex-grow-1 pointer">
                <div>{{ file.name }}</div>
            </div>
            <div *ngIf="showButtons && version && version.ext?.displayable" class="ms-2 ms-lg-1">
                <button type="button" class="form-control btn-sm btn-outline-secondary text-nowrap"
                    (click)="preview(); $event.stopPropagation();"
                    [title]="i18n('search.result.group.gotoPreviewTitle')">
                    <app-icon [iconClass]="config.icons['preview']" addCssClasses="mx-1"></app-icon>
                </button>
            </div>
            <div *ngIf="showButtons && version && version.ext?.downloadable" class="ms-2 ms-lg-1">
                <button type="button" class="form-control btn-sm btn-outline-secondary text-nowrap"
                    (click)="download(); $event.stopPropagation();"
                    [title]="i18n('search.result.group.downloadFileTitle')">
                    <app-icon [iconClass]="config.icons['download']" addCssClasses="mx-1"></app-icon>
                </button>
            </div>
        </div>
        <div class="fs-8 text-wrap text-break">
            <span class="text-primary" *ngIf="file.class">
                {{ i18n('classify.classes.' + file.class.techname) }} •
            </span>
            {{ formatService.filesize(file.size, 0, 2) }} •
            {{ file.relpath }}
        </div>
    </div>
    <div class="ms-3" *ngIf="gotoButton">
        <a [routerLink]="['/file', file.id]">
            <button class="btn btn-sm btn-outline-primary">
                <app-icon [iconClass]="config.icons['go-right']" addCssClasses="mx-2"></app-icon>
            </button>
        </a>
    </div>
</div>