<div class="container pt-4 pt-md-2 mb-2">
    <div class="pb-2 border-bottom border-secondary border-2 d-flex justify-content-between">
        <h2>{{ i18n('shopping.cart.title') }}</h2>
        <div>
            <nav class="h-100" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                <ol class="breadcrumb d-flex align-items-center h-100 mb-0">
                    <li [ngClass]="{'breadcrumb-item fade': true, 'show': busy}">
                        <ui-busy-indicator></ui-busy-indicator>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-2">
        <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let item of cartitems">
            <ng-container *ngTemplateOutlet="cartitemTemplate; context: { cartitem: item }"></ng-container>
        </div>
    </div>
</div>

<ng-template #cartitemTemplate let-item="cartitem">
    <div class="card">
        <div class="card-header text-truncate">
            <h6 class="mb-0">
                <app-icon [iconClass]="item.article.icon" [marginEnd]="1" *ngIf="item.article.icon"></app-icon>
                {{ item.article.name }}
            </h6>
        </div>
    </div>
</ng-template>