<div class="d-flex flex-column">
    @if (isMobile) {
    <div class="sidebar-toggle d-flex justify-content-between p-2">
        <div>
            <button class="item btn btn-sm btn-primary" (click)="onCreateNote()">
                <app-icon [iconClass]="icons['add']" [marginEnd]="1"></app-icon>
                {{ i18nstr.common.add }}
            </button>
            @if (selectedNote) {
            <a [routerLink]="[ '/notepad' ]"
                [queryParams]="{ id: selectedNote.id, subject: furl(selectedNote.title), editor: !editMode}"
                class="ms-1">
                <button type="button" class="btn btn-sm btn-primary">
                    <app-icon [iconClass]="icons[!editMode ? 'edit' : 'go-left']" [marginEnd]="1"></app-icon>
                    {{ i18n(!editMode ? 'common.edit' : 'common.back') }}
                </button>
            </a>
            <button class="item btn btn-sm btn-outline-danger ms-1" data-bs-toggle="modal"
                data-bs-target="#confirm-deletion-selected-note" [disabled]="deleteSaving">
                <app-icon [iconClass]="icons[!deleteSaving ? 'delete' : 'spinner']" [spin]="deleteSaving"></app-icon>
            </button>
            }
        </div>
        <div>
            <button type="button" class="btn btn-dark btn-sm" (click)="sidebarOpen = !sidebarOpen">
                <app-icon [iconClass]="icons[!sidebarOpen ? 'show' : 'hide']" [marginEnd]="1"></app-icon>
                {{ i18nstr.notepad2.toggleSidebar }}
            </button>
        </div>
    </div>
    }
    <div class="main-container d-flex vh-calc-100">
        <div [ngClass]="{ 'sidebar-body': true, 'd-none': !sidebarOpen }" [attr.data-mobile]="isMobile">
            <app-notepad2-sidebar [notes]="notes()" [isOpen]="sidebarOpen" [isMobile]="isMobile"></app-notepad2-sidebar>
        </div>
        <div [ngClass]="{ 'notes-body flex-grow-1 px-4 py-3': true, 'd-none': isMobile && sidebarOpen }">
            @if (selectedNote) {
            <app-notepad2-note [note]="selectedNote" [editMode]="editMode"></app-notepad2-note>
            }
            @else {
            <h5>{{ i18nstr.notepad2.noNoteSelected.title }}</h5>
            <p>
                {{ i18nstr.notepad2.noNoteSelected.introduction }}
            </p>
            }
        </div>
    </div>
</div>

<confirm-deletion modalId="confirm-deletion-selected-note" [title]="i18nstr.common.confirm.deletion.title"
    [question]="i18nstr.common.confirm.deletion.message"
    (confirm)="selectedNote ? onDeletionConfirmed() : null"></confirm-deletion>