.sidebar-body {
    background-color: #D3D5D7;

    &.expanded {
        min-width: 250px;
    }

    &:not(.expanded) {
        width: 48px;
    }

}

.vh-calc-100 {
    min-height: calc(100vh - 80px);
}
