<div class="sidebar-container h-100 w-100 overflow-y-auto">
    <div>Filter...</div>
    @for (noteItem of notes; track $index) {
    <a class="d-flex justify-content-between align-items-center w-100 notepad-item text-reset text-decoration-none"
        [routerLink]="[ '/notepad2' ]" [queryParams]="{ note: noteItem.id, subject: furl(noteItem.title)}">
        <div class="text-truncate py-1">{{ noteItem.title }}</div>
        <div class="action-items d-flex align-items-center">
            <button class="item btn btn-sm btn-outline-primary py-1 ms-1" (click)="onEditBtnClicked(noteItem, $event)">
                <app-icon class="fa-solid fa-pen-to-square"></app-icon>
            </button>
            <button class="item btn btn-sm btn-outline-danger py-1 ms-1" (click)="onDeleteBtnClicked(noteItem, $event)">
                <app-icon class="fa-solid fa-trash"></app-icon>
            </button>
            <button
                [ngClass]="{ 'item btn btn-sm py-1 ms-1': true, always: noteItem.pinned, 'btn-outline-secondary': !noteItem.pinned }"
                (click)="onPinnedBtnClicked(noteItem, $event)">
                <app-icon [iconClass]="'fa-solid fa-thumbtack' + (noteItem.pinned ? ' text-success' : '')"></app-icon>
            </button>
        </div>
    </a>
    }
</div>