<div class="modal fade" [id]="modalId" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal-title" aria-hidden="true">
    <div [ngClass]="{ 'modal-dialog': true, 'modal-dialog-scrollable': scrollable }">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">{{ title }}</h5>
                <button *ngIf="cancelable" type="button" class="btn-close" data-bs-dismiss="modal"
                    [attr.aria-label]="i18nstr.common.confirm.deletion.closeModal" (click)="cancel.emit()"></button>
            </div>
            <div class="modal-body py-1">
                {{ question }}
            </div>
            <div class="modal-footer d-flex justify-content-between align-items-center">
                <button *ngIf="cancelable" type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"
                    (click)="cancel.emit()">
                    <app-icon [iconClass]="icons['go-left']"></app-icon>
                    {{ i18nstr.common.confirm.deletion.cancel }}
                </button>
                <button type="button" class="btn btn-sm btn-danger ms-2" data-bs-dismiss="modal"
                    (click)="confirm.emit()">
                    <app-icon [iconClass]="icons['delete']"></app-icon>
                    {{ i18nstr.common.confirm.deletion.confirm }}
                </button>
            </div>
        </div>
    </div>
</div>