.d-list-item {
    display: list-item;
}

.locale-btn {
    background-color: #212529;
    border-color: #000!important;
    color: #f8f9fa;
    &:hover {
        border-color: #f8f9fa!important;
    }
}