<toast-container></toast-container>

<ng-container *ngIf="config != undefined">
  <header *ngIf="isLoggedin && config != undefined">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid d-flex justify-content-between">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item mx-1" *ngFor="let item of config.navbar.items; let i = index">
              <a [class]="'nav-link d-flex flex-column align-items-center ' + (routeUrl != item.link ? 'active' : '')"
                [routerLink]="item.link">
                <app-icon [iconClass]="config.icons[item.icon]"></app-icon>
                <span class="d-none d-md-inline">
                  {{ i18n(item.title) }}
                </span>
              </a>
            </li>
            <li class="nav-item mx-1 d-list-item d-lg-none">
              <a [class]="'nav-link d-flex flex-column align-items-center ' + (routeUrl != '/search' ? 'active' : '')"
                [routerLink]="'/search'">
                <app-icon [iconClass]="config.icons['search']"></app-icon>
                <span class="d-none d-md-inline">
                  {{ i18n('navbar.search.submit') }}
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="d-none d-lg-flex text-white align-items-center">
          <div class="me-4 dropdown">
            <button type="button" class="btn btn-dark locale-btn dropdown-toggle" id="navbarDarkDropdownMenuLink"
              role="button" data-bs-toggle="dropdown" aria-expanded="false" [title]="i18n('navbar.switchLocale.btnTitle')">
              <app-icon [iconClass]="config.icons['locale']"></app-icon>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark bg-dark mt-2 border shadow"
              aria-labelledby="navbarDarkDropdownMenuLink">
              <li *ngFor="let locale of navbarLocales">
                <a class="dropdown-item" href="#" (click)="changeLocaleTo(locale.code, $event)">
                  {{ i18n('locales.' + locale.code + '.title') }}
                  <span *ngIf="locale.isDefault" class="fs-7">({{ i18n('common.default') }})</span>
                </a>
              </li>
            </ul>
          </div>
          <form (submit)="submitSearch()">
            <div class="input-group">
              <label class="input-group-text" id="navbar-main-search-label" for="navbar-main-search-input">
                <app-icon [iconClass]="config.icons['search']"></app-icon>
              </label>
              <input type="text" class="form-control form-control-sm" [placeholder]="i18n('navbar.search.placeholder')"
                aria-describedby="navbar-main-search-label" id="navbar-main-search-input"
                name="navbar-main-search-input" [(ngModel)]="searchphrase">
              <button class="btn btn-sm btn-secondary" type="submit">
                {{ i18n('navbar.search.submit') }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>
</ng-container>