<ng-container *ngIf="config != undefined">
  <header *ngIf="isLoggedin && config != undefined">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid d-flex justify-content-between">
        <div>
          <a [routerLink]="'/home'" class="navbar-brand d-none d-md-inline">
            <i [class]="config.icons['home'] + ' me-2'"></i>
            {{ i18n('navbar.brand.title') }}
          </a>
        </div>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item mx-2"
                *ngFor="let item of config.navbar.items; let i = index">
              <a [class]="'nav-link d-flex flex-column align-items-center ' + (routeUrl != item.link ? 'active' : '')"
                 [routerLink]="item.link">
                <i [class]="config.icons[item.icon]"></i>
                <span class="d-none d-md-inline">
                  {{ i18n(item.title) }}
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="d-none d-lg-block text-white d-flex align-items-center">
          <form (submit)="submitSearch()">
            <div class="input-group">
              <label class="input-group-text" id="navbar-main-search-label" for="navbar-main-search-input">
                <i [class]="config.icons['search']"></i>
              </label>
              <input type="text" class="form-control form-control-sm" [placeholder]="i18n('navbar.search.placeholder')"
                aria-describedby="navbar-main-search-label" id="navbar-main-search-input" name="navbar-main-search-input"
                [(ngModel)]="searchphrase">
              <button class="btn btn-sm btn-secondary" type="submit">
                {{ i18n('navbar.search.submit') }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>
</ng-container>
