<ul class="dropdown-menu dropdown-menu-end pb-0" style="min-width: 200px;">
    <li class="dropdown-item" *ngIf="period">
        <div class="d-flex align-items-center justify-content-between">
            <input type="number" [id]="idprefix + '-dropdown-years'" [name]="idprefix + '-dropdown-years'"
                class="form-control text-end" [(ngModel)]="period!.years" min="0" max="99" style="width: 84px;"
                (change)="change();">
            <span class="ms-2">{{ i18n(period.years == 1 ?
                'common.year' : 'common.years')
                }}</span>
        </div>
    </li>
    <li class="dropdown-item" *ngIf="period">
        <div class="d-flex align-items-center justify-content-between">
            <input type="number" [id]="idprefix + '-dropdown-months'" [name]="idprefix + '-dropdown-months'"
                class="form-control text-end" [(ngModel)]="period!.months" min="0" max="99" style="width: 84px;"
                (change)="change();">
            <span class="ms-2">{{ i18n(period.months == 1 ?
                'common.month' : 'common.months')
                }}</span>
        </div>
    </li>
    <li class="dropdown-item" *ngIf="period">
        <div class="d-flex align-items-center justify-content-between">
            <input type="number" [id]="idprefix + '-dropdown-days'" [name]="idprefix + '-dropdown-days'"
                class="form-control text-end" [(ngModel)]="period!.days" min="0" max="99" style="width: 84px;"
                (change)="change();">
            <span class="ms-2">{{ i18n(period.days == 1 ?
                'common.day' : 'common.days')
                }}</span>
        </div>
    </li>
    <li *ngIf="period">
        <hr class="dropdown-divider">
    </li>
    <li class="dropdown-item" *ngIf="period">
        <div class="d-flex align-items-center justify-content-between">
            <input type="number" [id]="idprefix + '-dropdown-hours'" [name]="idprefix + '-dropdown-hours'"
                class="form-control text-end" [(ngModel)]="period!.hours" min="0" max="99" style="width: 84px;"
                (change)="change();">
            <span class="ms-2">{{ i18n(period.hours == 1 ?
                'common.hour' : 'common.hours')
                }}</span>
        </div>
    </li>
    <li class="dropdown-item" *ngIf="period">
        <div class="d-flex align-items-center justify-content-between">
            <input type="number" [id]="idprefix + '-dropdown-minutes'" [name]="idprefix + '-dropdown-minutes'"
                class="form-control text-end" [(ngModel)]="period!.minutes" min="0" max="99" style="width: 84px;"
                (change)="change();">
            <span class="ms-2">{{ i18n(period.minutes == 1 ?
                'common.minute' : 'common.minutes')
                }}</span>
        </div>
    </li>
    <li class="dropdown-item" *ngIf="period">
        <div class="d-flex align-items-center justify-content-between">
            <input type="number" [id]="idprefix + '-dropdown-seconds'" [name]="idprefix + '-dropdown-seconds'"
                class="form-control text-end" [(ngModel)]="period!.seconds" min="0" max="99" style="width: 84px;"
                (change)="change();">
            <span class="ms-2">{{ i18n(period.seconds == 1 ?
                'common.second' : 'common.seconds')
                }}</span>
        </div>
    </li>
    <li *ngIf="period">
        <hr class="dropdown-divider mb-0">
    </li>
    <li class="dropdown-item list-group-item-danger py-2 pointer text-center" (click)="period = {}; change();"
        *ngIf="period">
        <app-icon [iconClass]="config.icons['x']" [marginEnd]="1"></app-icon>
        {{ i18n('common.delete') }}
    </li>
</ul>