<div>
    <div class="container pt-4 pt-md-2 mb-2">
        <div class="pb-2 border-bottom border-secondary border-2 d-flex justify-content-between">
            <div class="d-flex flex-column">
                <h2>{{ i18n('notepad.title') }}</h2>
                <a class="fs-8" href="https://jfcere.github.io/ngx-markdown/cheat-sheet" target="_blank">
                    <app-icon [iconClass]="'fa-brands fa-markdown'" [marginEnd]="1"></app-icon>{{
                    i18n('notepad.markdownGuide') }}
                </a>
            </div>
            <div class="d-flex flex-column">
                <div class="mb-2 d-flex align-items-center justify-content-end">
                    <div [ngClass]="{'fade': true, 'show': busy}">
                        <ui-busy-indicator></ui-busy-indicator>
                    </div>
                    <div class="ms-2">
                        <button type="button"
                            [ngClass]="['btn btn-sm', sortby == 'name' ? 'btn-success' : 'btn-outline-secondary']"
                            (click)="sort('name', sortby !== 'name' ? null : !sortasc)">
                            <app-icon [iconClass]="'fa-solid fa-a'" [marginEnd]="1"></app-icon>
                            <span class="fs-8" *ngIf="sortasc">▲</span>
                            <span class="fs-8" *ngIf="!sortasc">▼</span>
                        </button>
                    </div>
                    <div class="ms-2">
                        <button type="button"
                            [ngClass]="['btn btn-sm', sortby == 'edit' ? 'btn-success' : 'btn-outline-secondary']"
                            (click)="sort('edit', sortby !== 'edit' ? null : !sortasc)">
                            <app-icon [iconClass]="'fa-solid fa-calendar-day'" [marginEnd]="1"></app-icon>
                            <span class="fs-8" *ngIf="sortasc">▲</span>
                            <span class="fs-8" *ngIf="!sortasc">▼</span>
                        </button>
                    </div>
                    <div class="ms-2">
                        <button type="button" class="btn btn-sm btn-outline-primary" (click)="new()">
                            <app-icon [iconClass]="config.icons['add']" [marginEnd]="1"></app-icon>
                            {{ i18n('common.add') }}
                        </button>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm"
                            [placeholder]="i18n('notepad.filterPlaceholder')" aria-describedby="notes-filter-btn"
                            id="notes-filter" name="notes-filter" [(ngModel)]="filterphrase" (keyup)="filterKeyup();">
                        <button class="btn btn-sm btn-secondary" id="notes-filter-btn" for="notes-filter">
                            <app-icon [iconClass]="config.icons['search']"></app-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="flex-table flex-table-sm mb-3">
            <ng-container *ngFor="let note of notes; let i = index;">
                <form [formGroup]="editItemFormgroup">
                    <div class="flex-table-body row" *ngIf="note.show">
                        <div class="d-flex justify-content-between align-items-top my-3 my-lg-2">
                            <div class="flex-grow-1">
                                <div class="mb-2">
                                    <ng-container>
                                        <h4 *ngIf="editId != note.id" class="mb-0">{{ note.title }}</h4>
                                        <input *ngIf="editId === note.id" type="text"
                                            class="form-control form-control-sm mb-2" formControlName="title"
                                            (keyup)="save()">
                                    </ng-container>
                                    <p class="fs-8 text-muted mb-0" *ngIf="editId != note.id">{{ f(note.updated, 'PPpp')
                                        }}
                                    </p>
                                </div>
                                <div>
                                    <markdown *ngIf="editId != note.id" ngPreserveWhitespaces [data]="note.content">
                                    </markdown>
                                    <textarea *ngIf="editId == note.id" class="form-control note-edit"
                                        formControlName="content" (keyup)="save()"></textarea>
                                </div>
                            </div>
                            <div class="overflow-visible text-nowrap">
                                <button type="button" class="btn btn-sm btn-outline-primary ms-2" (click)="edit(note)"
                                    *ngIf="editId != note.id">
                                    <app-icon [iconClass]="config.icons['edit']"></app-icon>
                                </button>
                                <span [ngClass]="{'fade ms-2': true, 'show': saving}" *ngIf="editId == note.id">
                                    <ui-busy-indicator></ui-busy-indicator>
                                </span>
                                <button type="button" class="btn btn-sm btn-outline-primary ms-2"
                                    (click)="saveAndClose()" *ngIf="editId == note.id">
                                    <app-icon [iconClass]="config.icons['close']"></app-icon>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-danger ms-2" (click)="delete(note)">
                                    <app-icon [iconClass]="config.icons['delete']"></app-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>
</div>