<div class="container-fluid pt-4 pt-md-2 mb-2">
    <div class="pb-2 border-bottom border-secondary border-2 d-flex justify-content-between">
        <div class="d-flex flex-column">
            <h2>{{ i18n('notepad.title') }}</h2>
            <a class="fs-8" href="https://jfcere.github.io/ngx-markdown/cheat-sheet" target="_blank">
                <app-icon [iconClass]="'fa-brands fa-markdown'" [marginEnd]="1"></app-icon>{{
                i18n('notepad.markdownGuide') }}
            </a>
        </div>
        <div class="d-flex flex-column">
            <div class="mb-2 d-flex align-items-center justify-content-end">
                <div [ngClass]="{'fade': true, 'show': busy}">
                    <ui-busy-indicator></ui-busy-indicator>
                </div>
                <div class="ms-2">
                    <button type="button"
                        [ngClass]="['btn btn-sm', sortby == 'name' ? 'btn-success' : 'btn-outline-secondary']"
                        (click)="sort('name', sortby !== 'name' ? null : !sortasc)">
                        <app-icon [iconClass]="'fa-solid fa-a'" [marginEnd]="1"></app-icon>
                        <span class="fs-8" *ngIf="sortasc">▲</span>
                        <span class="fs-8" *ngIf="!sortasc">▼</span>
                    </button>
                </div>
                <div class="ms-2">
                    <button type="button"
                        [ngClass]="['btn btn-sm', sortby == 'edit' ? 'btn-success' : 'btn-outline-secondary']"
                        (click)="sort('edit', sortby !== 'edit' ? null : !sortasc)">
                        <app-icon [iconClass]="'fa-solid fa-calendar-day'" [marginEnd]="1"></app-icon>
                        <span class="fs-8" *ngIf="sortasc">▲</span>
                        <span class="fs-8" *ngIf="!sortasc">▼</span>
                    </button>
                </div>
                <div class="ms-2">
                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="new()">
                        <app-icon [iconClass]="config.icons['add']" [marginEnd]="1"></app-icon>
                        {{ i18n('common.add') }}
                    </button>
                </div>
            </div>
            <div>
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm"
                        [placeholder]="i18n('notepad.filterPlaceholder')" aria-describedby="notes-filter-btn"
                        id="notes-filter" name="notes-filter" [(ngModel)]="filterphrase" (keyup)="filterKeyup();">
                    <button class="btn btn-sm btn-secondary" id="notes-filter-btn" for="notes-filter">
                        <app-icon [iconClass]="config.icons['search']"></app-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-0">
    <div class="row m-0">
        <ng-container *ngTemplateOutlet="sidebar"></ng-container>
        <ng-container *ngTemplateOutlet="notesContainer"></ng-container>
    </div>
</div>

<ng-template #sidebar>
    <div class="sidebar ps-0 pe-3 pe-xl-5 d-none d-md-flex flex-column col-md-4 col-lg-3 col-xl-2">
        <ul class="list-group list-group-flush">
            <ng-container *ngFor="let note of notes; let i = index;">
                <li class="list-group-item bg-light pointer text-nowrap text-truncate"
                    (click)="viewportScroller.scrollToAnchor('note-' + note.id)">
                    {{ note.title }}
                </li>
            </ng-container>
        </ul>
    </div>
</ng-template>

<ng-template #notesContainer>
    <div class="main-content col-12 col-md-8 col-lg-9 col-xl-10">
        <ng-container *ngFor="let note of sortedNotes; let i = index;">
            <div class="card mb-3" *ngIf="note.show" [id]="'note-' + note.id">
                <ng-container
                    *ngTemplateOutlet="editId != note.id ? noteViewer : noteEditor; context: { note: note }"></ng-container>
            </div>
        </ng-container>
    </div>
</ng-template>

<ng-template #noteEditor let-note="note">
    <form [formGroup]="editItemFormgroup">
        <div class="card-header d-flex justify-content-between">
            <input type="text" class="form-control form-control-sm" formControlName="title" (keyup)="save()">
        </div>
        <div class="card-body">
            <textarea class="form-control note-edit" formControlName="content" (keyup)="save()"></textarea>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <div>
                <button type="button" class="btn btn-sm btn-success fs-8" (click)="save()">
                    <app-icon [iconClass]="config.icons['save']"></app-icon>
                    <span class="d-none d-md-inline ms-1">{{ i18n('common.save') }}</span>
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary ms-2 fs-8" (click)="close()">
                    <app-icon [iconClass]="config.icons['x']"></app-icon>
                    <span class="d-none d-md-inline ms-1">{{ i18n('common.back') }}</span>
                </button>
            </div>
            <div class="fs-8">
                <span [ngClass]="{'fade ms-2': true, 'show': saving}">
                    <ui-busy-indicator></ui-busy-indicator>
                </span>
                <span class="d-md-none">{{ f(note.updated, 'Pp') }}</span>
                <span class="d-none d-md-inline">{{ f(note.updated, 'PPpp') }}</span>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #noteViewer let-note="note">
    <div class="card-header d-flex justify-content-between">
        <h4 class="card-title mb-0">{{ note.title }}</h4>
        <app-icon [iconClass]="config.icons['pin']"
            [ngClass]="{ 'pointer overflow-hidden pin': true, 'text-primary': note.pinned, 'unpinned': !note.pinned }"></app-icon>
    </div>
    <div class="card-body">
        <markdown ngPreserveWhitespaces [data]="note.content"></markdown>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <div>
            <button type="button" class="btn btn-sm btn-outline-primary fs-8" (click)="edit(note)">
                <app-icon [iconClass]="config.icons['edit']"></app-icon>
                <span class="d-none d-md-inline ms-1">{{ i18n('common.change') }}</span>
            </button>
            <button type="button" class="btn btn-sm btn-outline-danger ms-2 fs-8" (click)="delete(note)">
                <app-icon [iconClass]="config.icons['delete']"></app-icon>
                <span class="d-none d-md-inline ms-1">{{ i18n('common.delete') }}</span>
            </button>
        </div>
        <div class="fs-8">
            <span class="d-md-none">{{ f(note.updated, 'Pp') }}</span>
            <span class="d-none d-md-inline">{{ f(note.updated, 'PPpp') }}</span>
        </div>
    </div>
</ng-template>