.intend-level-0 { padding-left: 1.5rem; }
.intend-level-1 { padding-left: 2.5rem; }
.intend-level-2 { padding-left: 3.5rem; }
.intend-level-3 { padding-left: 4.5rem; }
.intend-level-4 { padding-left: 5.5rem; }
.intend-level-5 { padding-left: 6.5rem; }
.intend-level-6 { padding-left: 7.5rem; }
.intend-level-7 { padding-left: 8.5rem; }