<div class="container pt-4 pt-md-2 mb-2">
    <app-h2 [title]="i18nstr.cases.title" [btn1]="i18nstr.cases.showDeleted"
        [btn1icon]="showDeleted ? 'fa-solid fa-toggle-on' : 'fa-solid fa-toggle-off'"
        [btn1css]="'btn btn-sm btn-secondary'" (btn1Clicked)="changeShowDeleted(!showDeleted)"
        [btn2]="i18nstr.cases.showInRetention"
        [btn2icon]="showInRetention ? 'fa-solid fa-toggle-on' : 'fa-solid fa-toggle-off'"
        [btn2css]="'btn btn-sm btn-secondary'" (btn2Clicked)="changeShowRetention(!showInRetention)"></app-h2>
</div>

<div class="container pt-4 pt-md-2 mb-2">
    <ul class="list-group">
        <ng-container *ngFor="let id of rootcases">
            <ng-container *ngTemplateOutlet="caseTemplate;context: { caseid: id, level: 0 }"></ng-container>
        </ng-container>
    </ul>
</div>

<ng-template #caseTemplate let-caseid="caseid" let-level="level">
    <ng-container *ngIf="case(caseid) != null">
        <ng-container *ngIf="showCase(case(caseid))">
            <a [ngClass]="['list-group-item', 'py-2', 'pe-2', 'intend-level-' + level]"
                [routerLink]="['/case', case(caseid).id]">
                <case-list-item [case]="case(caseid)"></case-list-item>
            </a>
        </ng-container>
        <ng-container *ngIf="haschilds(caseid)">
            <ng-container *ngFor="let id of childs(caseid)">
                <ng-container *ngTemplateOutlet="caseTemplate;context: { caseid: id, level: level + 1 }"></ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>