<ui-centered-busy-indicator *ngIf="file == undefined"></ui-centered-busy-indicator>

<ng-container *ngIf="file != undefined">
  <div class="container pt-4 pt-md-2 mb-2">
    <div class="pb-2 border-bottom border-secondary border-2 d-flex justify-content-between align-items-center">
      <h2 class="text-nowrap text-truncate">{{ i18n('file.title', [file.name]) }}</h2>
      <div class="ps-3 mb-2 d-flex" *ngIf="file.fileexists">
        <a [routerLink]="['/file', file.id]" *ngIf="view === 'preview'" class="text-decoration-none ms-3 ms-lg-1">
          <button type="button" class="form-control btn-sm btn-secondary text-nowrap">
            <app-icon [iconClass]="config.icons['go-left']"></app-icon>
            <span class="d-none d-lg-inline ms-1">{{ i18n('common.back') }}</span>
          </button>
        </a>
        <a [routerLink]="['/file', file.id, 'preview']" *ngIf="view !== 'preview' && displayable"
          class="text-decoration-none ms-3 ms-lg-1">
          <button type="button" class="form-control btn-sm btn-secondary text-nowrap">
            <app-icon [iconClass]="config.icons['preview']"></app-icon>
            <span class="d-none d-lg-inline ms-1">{{ i18n('file.previewButton') }}</span>
          </button>
        </a>
        <a (click)="download()" *ngIf="downloadable" class="text-decoration-none ms-3 ms-lg-1">
          <button type="button" class="form-control btn-sm btn-secondary text-nowrap">
            <app-icon [iconClass]="config.icons['download']"></app-icon>
            <span class="d-none d-lg-inline ms-1">{{ i18n('file.downloadButton') }}</span>
          </button>
        </a>
      </div>
    </div>
  </div>

  <ng-container *ngIf="view === 'preview' && recentVersion; else notPreview">
    <div class="container pt-4 pt-md-2 mb-2 ratio-2x3 ratio-md-3x2">
      <ng-container *ngIf="getViewer() == 'embeddedObject'" [ngTemplateOutlet]="embeddedObject"></ng-container>
      <ng-container *ngIf="getViewer() == 'plaintext'">
        <div class="card col-12">
          <div class="card-body">
            <pre
              class="codeblock linenumbers"><code><ul class="p-0"><li *ngFor="let line of textcontent; let i = index" class="d-flex"><div class="counter">{{ (i+1) }}</div><div class="content flex-shrink-1">{{ line }}</div></li></ul></code></pre>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="getViewer() == 'html'">
        <div class="card col-12 w-100 h-100">
          <div class="card-body">
            <iframe #htmlViewer class="w-100 h-100" src="about:blank"></iframe>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="getViewer() == 'img'">
        <div class="card col-12 w-100 h-100">
          <div class="card-body">
            <img #imgViewer src="" style="max-width: 100%; height: auto;">
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #notPreview>

    <div class="container pt-4 pt-md-2 mb-2">
      <form #f (submit)="submitFile()" ngNativeValidate>
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="text-nowrap text-truncate">{{ i18n('file.main.title') }}</h3>
          </div>
          <div class="card-body">

            <div class="row">
              <!-- file header data directory + filename -->
              <div class="col-12 col-lg-6 mb-3">
                <div class="form-group">
                  <label for="file-name" class="form-label required">{{ i18n('file.main.name') }}</label>
                  <input type="text" class="form-control" id="file-name" name="file-name" [(ngModel)]="file.name"
                    (change)="changes['name'] = file.name; submitFile();" required>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-3" *ngIf="file.directory">
                <div class="form-group">
                  <label for="file-directory" class="form-label required">{{ i18n('file.main.dir') }}</label>
                  <input type="text" class="form-control-plaintext form-control-px" id="file-directory"
                    name="file-directory" [(ngModel)]="file.directory.relpath" readonly>
                </div>
              </div>
            </div><!-- file header data directory + filename -->

            <div class="row">
              <!-- file meta information -->
              <div class="col-6 col-lg-3 mb-3">
                <div class="form-group">
                  <label for="file-created" class="form-label">{{ i18n('file.main.created') }}</label>
                  <input type="text" class="form-control-plaintext form-control-px" id="file-created"
                    name="file-created" [value]="formatService.fdate(file.mtime, 'Pp')" readonly>
                </div>
              </div>
              <div class="col-6 col-lg-3 mb-3" *ngIf="file.deldate">
                <div class="form-group">
                  <label for="file-deleted" class="form-label">{{ i18n('file.main.deleted') }}</label>
                  <input type="text" class="form-control-plaintext form-control-px" id="file-deleted"
                    name="file-deleted" [value]="formatService.fdate(file.deldate, 'Pp')" readonly>
                </div>
              </div>
              <div class="col-6 col-lg-3 mb-3">
                <div class="form-group">
                  <label for="file-size" class="form-label">{{ i18n('file.main.size') }}</label>
                  <input type="text" class="form-control-plaintext form-control-px" id="file-size" name="file-size"
                    [value]="formatService.filesize(file.size, 0, 2)" readonly>
                </div>
              </div>
              <div class="col-6 col-lg-3 mb-3" *ngIf="pages">
                <div class="form-group">
                  <label for="file-pages" class="form-label">{{ i18n('file.main.pages') }}</label>
                  <input type="text" class="form-control-plaintext form-control-px" id="file-pages" name="file-pages"
                    [value]="formatService.fnumber(pages.length)" readonly>
                </div>
              </div>
            </div><!-- file meta information -->

            <div class="row">
              <!-- file tags -->
              <div class="col-12 mb-3">
                <div class="form-group">
                  <label class="form-label">{{ i18n('file.main.tags') }}</label>
                  <div id="file-tags" class="d-flex">
                    <div *ngFor="let tagid of file.tags">
                      <ng-container *ngIf="getTag(tagid) != null">
                        <app-tag [tag]="getTag(tagid)!" (xclick)="untagFile(getTag(tagid)!)"></app-tag>
                      </ng-container>
                    </div>
                    <div class="flex-fill">
                      <form (submit)="tagFile()">
                        <input class="form-control-plaintext form-control-px" list="file-tags-options" id="file-tags"
                          name="file-tags" [placeholder]="i18n('file.main.tagsInputPlaceholder')"
                          [(ngModel)]="filetagInput">
                        <datalist id="file-tags-options">
                          <option *ngFor="let tag of tags" [value]="'► ' + tag.value">
                        </datalist>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- file tags -->

          </div>
        </div>

        <div class="card mt-4 mt-lg-2">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="text-nowrap text-truncate">{{ i18n('file.classify.title') }}</h3>
            <div class="d-flex">
              <button type="button" class="form-control btn-sm btn-secondary text-nowrap"
                (click)="file.classifyDisabled = !file.classifyDisabled; changes['classifyDisabled'] = file.classifyDisabled; submitFile();">
                <app-icon [iconClass]="config.icons[file.classifyDisabled ? 'toggle-on' : 'toggle-off']"></app-icon>
              </button>
              <button type="button" class="form-control btn-sm btn-primary text-nowrap ms-3 ms-lg-1"
                (click)="nextFile()" [disabled]="busy">
                <app-icon [iconClass]="config.icons[updating ? 'busy' : 'go-right']"></app-icon>
                <span class="d-none d-lg-inline ms-1">{{ i18n('file.classify.nextFile') }}</span>
              </button>
            </div>
          </div>
          <div class="card-body" *ngIf="!file.classifyDisabled">

            <div class="row">
              <div class="col-12 col-lg-6 mb-3">
                <div class="row">
                  <!-- file class -->
                  <div class="col-4 mb-3">
                    <div class="form-group">
                      <label for="file-date" class="form-label">{{ i18n('file.classify.date') }}</label>
                      <input type="date" class="form-control form-control" id="file-date" name="file-date"
                        [(ngModel)]="file.date"
                        (change)="changes['date'] = (file.date != '' ? file.date : null); submitFile();">
                      <label class="form-label mt-2" *ngIf="ai_classifiedDate.length > 0">
                        <ng-container *ngFor="let date of ai_classifiedDate.slice(0, 3); let i = index;">
                          <span class="text-primary pointer me-1"
                            (click)="file.date = date; changes['date'] = date; submitFile();">
                            {{ formatService.fdate(date, 'P') }}
                          </span>
                        </ng-container>
                      </label>
                    </div>
                  </div>
                  <div class="col-8 mb-3">
                    <div class="form-group">
                      <label for="file-class" class="form-label">{{ i18n('file.classify.class') }}</label>
                      <div class="input-group">
                        <select class="form-select" id="file-class" name="file-class" [(ngModel)]="file.classid"
                          (change)="setClassId();">
                          <option [value]="null">{{ i18n('common.select.pickOne') }}</option>
                          <option *ngFor="let item of classes" [value]="item.id">{{ i18n('classify.classes.' +
                            item.techname) }}</option>
                        </select>
                        <button type="button" class="btn btn-sm btn-success text-nowrap" (click)="guess()"
                          [disabled]="guessing">
                          <app-icon [iconClass]="config.icons[guessing ? 'busy' : 'fingerprint']"></app-icon>
                        </button>
                      </div>
                      <label class="form-label text-primary pointer mt-2 text-truncate" *ngIf="ai_classifiedAs"
                        (click)="file.classid = ai_classifiedAs.id; setClassId();">
                        {{ i18n('file.classify.suggestion', [i18n('classify.classes.' + ai_classifiedAs.techname),
                        formatService.fnumber(ai_classifiedConfidence * 100, 1)]) }}
                      </label>
                    </div>
                  </div>
                </div><!-- file class -->

                <div class="row">
                  <!-- file case -->
                  <div class="col-12 mb-3">
                    <div class="form-group">
                      <label for="file-case" class="form-label">{{ i18n('file.classify.case') }}</label>
                      <select class="form-select" id="file-case" name="file-case" [(ngModel)]="file.caseid"
                        (change)="setCaseId();">
                        <option [value]="null">{{ i18n('common.select.pickOne') }}</option>
                        <option *ngFor="let item of cases" [value]="item.id">{{ item.casepath }}</option>
                      </select>
                      <label class="form-label text-primary pointer mt-2 text-truncate" *ngIf="ai_classifiedCase"
                        (click)="file.caseid = ai_classifiedCase.id; setCaseId();">
                        {{ i18n('file.classify.suggestion', [ai_classifiedCase.casepath,
                        formatService.fnumber(ai_classifiedCaseConfidence * 100, 1)]) }}
                      </label>
                    </div>
                  </div>
                  <div class="col-6 mb-3">
                    <div class="form-group">
                      <label for="file-case-filestatus" class="form-label">{{ i18n('file.classify.caseFilestatus')
                        }}</label>
                      <select class="form-select" id="file-case-filestatus" name="file-case-filestatus"
                        [(ngModel)]="file.case_filestatus" (change)="setCaseFilestatus();">
                        <option [value]="''">{{ i18n('common.select.pickOne') }}</option>
                        <option *ngFor="let item of casefilestatus" [value]="item">{{ i18n('casefilestatus.' + item) }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="form-group">
                      <label for="file-case-name" class="form-label">{{ i18n('file.classify.caseFilename') }}</label>
                      <input type="text" class="form-control form-control" id="file-case-name" name="file-case-name"
                        [(ngModel)]="file.case_filename"
                        (change)="changes['casefilename'] = file.case_filename; submitFile();">
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="form-group">
                      <label for="file-case-description" class="form-label">{{ i18n('file.classify.caseFiledesc')
                        }}</label>
                      <textarea type="text" class="form-control form-control" id="file-case-description"
                        name="file-case-description" [(ngModel)]="file.case_filedescription"
                        (change)="changes['casedescription'] = file.case_filedescription; submitFile();"></textarea>
                    </div>
                  </div>
                </div><!-- file case -->

                <div class="row">
                  <!-- file parties -->
                  <div class="col-12 mb-3">
                    <div class="form-group">
                      <label for="file-client" class="form-label">{{ i18n('file.classify.client') }}</label>
                      <select class="form-select" id="file-client" name="file-client" [(ngModel)]="file.clientid"
                        (change)="setClientId();">
                        <option [value]="null">{{ i18n('common.select.pickOne') }}</option>
                        <option *ngFor="let item of clients" [value]="item.id">{{ item.name1 }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="form-group">
                      <label for="file-party" class="form-label">{{ i18n('file.classify.party') }}</label>
                      <select class="form-select" id="file-party" name="file-party" [(ngModel)]="file.partyaddressid"
                        (change)="setPartyAddressId();">
                        <option [value]="null">{{ i18n('common.select.pickOne') }}</option>
                        <option *ngFor="let item of addresses" [value]="item.id">{{ item.name1 }}{{ item.department !=
                          '' ? ', ' + item.department : '' }}{{ item.street != '' ? ', ' + item.street : '' }}, {{
                          item.zip }} {{ item.city }}</option>
                      </select>
                      <label class="form-label text-primary pointer mt-2 text-truncate" *ngIf="ai_classifiedAddress"
                        (click)="file.partyaddressid = ai_classifiedAddress.id; setPartyAddressId();">
                        {{ i18n('file.classify.suggestion', [ai_classifiedAddress.name1,
                        formatService.fnumber(ai_classifiedAddressConfidence * 100, 1)]) }}
                      </label>
                    </div>
                  </div>
                </div><!-- file parties -->

                <div class="row">
                  <!-- tax review -->
                  <div class="col-6 col-lg-3 mb-3">
                    <div class="form-group">
                      <label for="file-is-tax" class="form-label d-block mb-1">{{ i18n('file.classify.taxreceipt')
                        }}</label>
                      <input class="form-check-input" type="checkbox" [value]="true" id="file-is-tax" name="file-is-tax"
                        [(ngModel)]="file.istaxreceipt"
                        (change)="file.taxyear = file.taxyear ?? maxyear; changes['taxreceipt'] = file.istaxreceipt; changes['taxyear'] = file.taxyear; submitFile();">
                      <label class="form-check-label ms-1" for="file-is-tax">
                        <span *ngIf="file.istaxreceipt">{{ i18n('common.yes') }}</span>
                        <span *ngIf="!file.istaxreceipt">{{ i18n('common.no') }}</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-lg-3 mb-3">
                    <div class="form-group">
                      <label for="file-tax-year" class="form-label">{{ i18n('file.classify.taxyear') }}</label>
                      <input type="number" class="form-control form-control" id="file-tax-year" name="file-tax-year"
                        [(ngModel)]="file.taxyear" min="2000" [max]="maxyear" [readonly]="!file.istaxreceipt"
                        (change)="changes['taxyear'] = file.taxyear; submitFile();">
                    </div>
                  </div>
                </div><!-- tax review -->
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <div class="ratio-2x3">
                  <ng-container *ngIf="getViewer() == 'embeddedObject'"
                    [ngTemplateOutlet]="embeddedObject"></ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card mt-4 mt-lg-2 border-danger">
          <div class="card-header d-flex justify-content-between align-items-center border-danger">
            <h3 class="text-nowrap text-truncate">{{ i18n('file.housekeeping.title') }}</h3>
          </div>
          <div class="card-body">

            <div class="row border-bottom border-danger pb-2" *ngIf="file.directory">
              <div class="col-12 d-flex justify-content-between">
                <div>
                  <div class="fw-bold">{{ i18n('file.housekeeping.move.title') }}</div>
                  <div class="text-muted">{{ i18n('file.housekeeping.move.description') }}</div>
                </div>
                <div class="ms-3 ms-lg-4">
                  <button type="button" class="form-control btn-sm btn-outline-danger text-nowrap"
                    (click)="showMoveToFolderBrowser = true;" [disabled]="busy">
                    <app-icon [iconClass]="config.icons[updating ? 'busy' : 'copy']"></app-icon>
                    <span class="ms-1">{{ i18n('file.housekeeping.move.btn') }}</span>
                  </button>
                </div>
              </div>
              <folder-browser-dialog *ngIf="showMoveToFolderBrowser" [initialFolder]="file.directory"
                (select)="moveTo($event); showMoveToFolderBrowser = false;" [showAddFolderBtn]="true">
              </folder-browser-dialog>
            </div>
            <div class="row py-2">
              <div class="col-12 d-flex justify-content-between">
                <div>
                  <div class="fw-bold">{{ i18n('file.housekeeping.delete.title') }}</div>
                  <div class="text-muted">{{ i18n('file.housekeeping.delete.description') }}</div>
                </div>
                <div class="ms-3 ms-lg-4">
                  <button type="button" class="form-control btn-sm btn-outline-danger text-nowrap"
                    (click)="delete(file)" [disabled]="busy">
                    <app-icon [iconClass]="config.icons[updating ? 'busy' : 'delete']"></app-icon>
                    <span class="ms-1">{{ i18n('file.housekeeping.delete.btn') }}</span>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </form>
    </div>

  </ng-template>

</ng-container>

<ng-template #embeddedObject>
  <iframe #embeddedObjectElement class="w-100 h-100" src="about:blank"></iframe>
</ng-template>