<div>

    <div class="container pt-4 pt-md-2 mb-2">
        <app-h2 [title]="i18n('receipts.title')" [busy]="busy" [btn1]="i18n('common.add')"
            [btn1css]="'btn btn-sm btn-outline-primary'" [btn1icon]="config.icons['add']"
            (btn1Clicked)="new(); newItem();"></app-h2>
    </div>

    <div class="container">
        <div class="flex-table flex-table-sm mb-3">
            <div class="flex-table-head row">
                <div class="col-3">{{ i18n('receipts.date') }}</div>
                <div class="col-6 col-lg-7">{{ i18n('receipts.party') }}</div>
                <div class="col-3 col-lg-2 text-end">{{ i18n('leads.table.head.created') }}</div>
            </div>
            <ng-container *ngIf="selectedReceipt && selectedReceipt.id == 0">
                <ng-container *ngTemplateOutlet="receiptEditor"></ng-container>
            </ng-container>
            <ng-container *ngFor="let receipt of receipts; let i = index;">
                <div class="flex-table-body row">
                    <div class="col-3 pointer" (click)="select(receipt)">
                        {{ f(receipt.date, 'PP') }}
                    </div>
                    <div class="col-6 col-lg-7 pointer" (click)="select(receipt)">
                        <span class="me-1" *ngIf="receipt.party">{{ receipt.party.name1 }}</span>
                    </div>
                    <div class="col-3 col-lg-2 text-end pointer" (click)="select(receipt)">
                        {{ formatService.fcur(receipt.gross_total, receipt.currency) }}
                    </div>
                    <div class="col-12 container card p-1" *ngIf="selectedReceipt && selectedReceipt.id == receipt.id">
                        <div class="card-header p-1 d-flex justify-content-between align-items-center">
                            <h4>{{ i18n('receipts.items.title') }}</h4>
                            <button type="button" class="btn-close" (click)="selectedReceipt = null;"></button>
                        </div>
                        <div class="card-body p-1 fs-7">
                            <div class="flex-table flex-table-sm">
                                <div class="flex-table-head row">
                                    <div class="col-12 col-lg-3">{{ i18n('receipts.items.article') }}</div>
                                    <div class="d-none d-lg-block col-lg-1 text-end">{{ i18n('receipts.items.quantity')
                                        }}</div>
                                    <div class="d-none d-lg-block col-lg-2 text-end">{{
                                        i18n('receipts.items.singleprice') }}</div>
                                    <div class="d-none d-lg-block col-lg-2 text-end">{{ i18n('receipts.items.discount')
                                        }}</div>
                                    <div class="d-none d-lg-block col-lg-2 text-end">{{ i18n('receipts.items.deposit')
                                        }}</div>
                                    <div class="d-none d-lg-block col-lg-2 text-end">{{ i18n('receipts.items.totalnet')
                                        }}</div>
                                </div>
                                <ng-container *ngTemplateOutlet="receiptItems"></ng-container>
                                <ng-container *ngTemplateOutlet="receiptItemsSummary"></ng-container>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #receiptEditor>
    <ng-container *ngIf="selectedReceipt">
        <form #form="ngForm" (ngSubmit)="saveSelected(form, $event)">
            <div class="flex-table-body row pb-3">
                <div class="col-3">
                    {{ f(selectedReceipt.date, 'PP') }}
                </div>
                <div class="col-6 col-lg-7">
                    <span class="me-1" *ngIf="selectedReceipt.party">{{ selectedReceipt.party.name1 }}</span>
                </div>
                <div class="col-3 col-lg-2 text-end">
                    {{ formatService.fcur(selectedReceipt.gross_total, selectedReceipt.currency) }}
                </div>
                <div class="col-12 container card p-1">
                    <app-h4 [title]="i18n('receipts.edit.title')" [containercss]="'card-header'"
                        [btn1]="i18n('common.save')" [btn1css]="'btn btn-sm btn-success'"
                        [btn1icon]="config.icons['save']" (btn1Clicked)="saveSelected(form, $event)"
                        [btn2css]="'btn btn-sm btn-outline-secondary'" [btn2icon]="config.icons['delete']"
                        (btn2Clicked)="onCancelEdit()"></app-h4>
                    <div class="card-body p-1 px-3 fs-7 mb-3">
                        <div class="row">
                            <div class="col-6 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="receipt-date" class="form-label required">{{ i18n('receipts.date')
                                        }}</label>
                                    <input type="date" class="form-control" id="receipt-date" name="receipt-date"
                                        [(ngModel)]="selectedReceipt.date" required>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <div class="form-group">
                                    <label for="receipt-currency" class="form-label required">{{
                                        i18n('receipts.currency')
                                        }}</label>
                                    <select class="form-select" id="receipt-currency" name="receipt-currency"
                                        [(ngModel)]="selectedReceipt.currencyid" required (change)="onChangeCurrency()">
                                        <option *ngFor="let currency of currencies; let i = index"
                                            [value]="currency.id">
                                            {{ currency.shortname }} - {{ currency.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="form-group">
                                    <label for="receipt-client" class="form-label required">{{ i18n('receipts.client')
                                        }}</label>
                                    <select class="form-select" id="receipt-client" name="receipt-client"
                                        [(ngModel)]="selectedReceipt.clientid" required>
                                        <option *ngFor="let client of clients; let i = index" [value]="client.id">
                                            {{ client.name1 }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="form-group">
                                    <label for="receipt-party" class="form-label required">{{ i18n('receipts.party')
                                        }}</label>
                                    <select class="form-select" id="receipt-party" name="receipt-party"
                                        [(ngModel)]="selectedReceipt.partyid" required>
                                        <option *ngFor="let party of parties; let i = index" [value]="party.id">
                                            {{ party.name1 }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-h4 [title]="i18n('receipts.items.title')" [containercss]="'card-header'"
                        [btn1css]="'btn btn-sm btn-outline-primary'" [btn1icon]="config.icons['add']"
                        (btn1Clicked)="newItem()"></app-h4>
                    <div class="card-body p-1 fs-7">
                        <div class="flex-table flex-table-sm">
                            <div class="flex-table-head row">
                                <div class="col-12 col-lg-3">{{ i18n('receipts.items.article') }}</div>
                                <div class="d-none d-lg-block col-lg-1 text-end">{{ i18n('receipts.items.quantity')
                                    }}</div>
                                <div class="d-none d-lg-block col-lg-2 text-end">{{
                                    i18n('receipts.items.singleprice') }}</div>
                                <div class="d-none d-lg-block col-lg-2 text-end">{{ i18n('receipts.items.discount')
                                    }}</div>
                                <div class="d-none d-lg-block col-lg-2 text-end">{{ i18n('receipts.items.deposit')
                                    }}</div>
                                <div class="d-none d-lg-block col-lg-2 text-end">{{ i18n('receipts.items.totalnet')
                                    }}</div>
                            </div>
                            <ng-container *ngTemplateOutlet="receiptItems"></ng-container>
                            <ng-container *ngTemplateOutlet="receiptItemsSummary"></ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</ng-template>

<ng-template #receiptItems>
    <ng-container *ngIf="selectedReceipt">
        <ng-container *ngFor="let item of selectedReceipt.items; let i = index;">
            <div class="flex-table-body row">
                <div class="col-12 col-lg-3 d-flex align-items-center">
                    <ng-container *ngIf="selectedReceipt.id > 0">
                        <ng-container *ngTemplateOutlet="receiptArticle; context: { 'item': item }"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="selectedReceipt.id == 0">
                        <ng-container *ngIf="item.articleid && article(item.articleid)">
                            <button type="button" class="btn btn-sm btn-outline-secondary border-0 me-2"
                                (click)="selectedReceipt.items.splice(i, 1);">
                                <i [class]="config.icons['delete']"></i>
                            </button>
                            <div>
                                <ng-container *ngTemplateOutlet="receiptArticle; context: { 'item': item }">
                                </ng-container>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!item.articleid || !article(item.articleid)">
                            <div class="d-flex flex-column w-100">
                                <input type="text" class="form-control form-control-sm" [id]="'receipt-article-' + i"
                                    name="'receipt-article-' + i" required (keydown)="onBeforeChangeInput(i, $event)"
                                    (keyup)="onAfterChangeInput(i, $event)" (focus)="activeArticleIndex = i"
                                    autocomplete="off">
                                <ul
                                    [ngClass]="{'dropdown-menu position-relative mt-1 py-0': true, 'd-block show': activeArticleIndex == i && activeArticleDropdownItems.length > 0}">
                                    <li [ngClass]="{'dropdown-item pointer': true, 'active': activeArticleDropdownPickIndex == di}"
                                        *ngFor="let ditem of activeArticleDropdownItems; let di = index"
                                        (click)="onDropdownSelect(i, ditem);">
                                        {{ ditem.search }} ({{ ditem.name }})
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="col-4 col-lg-1 text-end d-flex d-lg-block">
                    <ng-container *ngIf="selectedReceipt.id > 0">
                        <span class="d-inline-block d-lg-none me-2">{{
                            i18n('receipts.items.quantity') }}:</span>
                        <span>{{ formatService.fnumber(item.quantity) }}</span>
                    </ng-container>
                    <ng-container *ngIf="selectedReceipt.id == 0">
                        <input type="number" min="0.000" step="0.001" class="form-control form-control-sm text-end"
                            [id]="'receipt-quantity-' + i" name="'receipt-quantity-' + i" required
                            [(ngModel)]="item.quantity" (change)="onChangeValues(i)"
                            (keydown)="onKeydownValue(i, $event)" onFocus="this.select()">
                    </ng-container>
                </div>
                <div class="col-4 col-lg-2 text-end d-flex d-lg-block">
                    <ng-container *ngIf="selectedReceipt.id > 0">
                        <span class="d-inline-block d-lg-none me-2">{{
                            i18n('receipts.items.singleprice') }}:</span>
                        <span>{{ formatService.fcur(item.singleprice, selectedReceipt.currency)
                            }}</span>
                    </ng-container>
                    <ng-container *ngIf="selectedReceipt.id == 0">
                        <input type="number" step="0.01" class="form-control form-control-sm text-end"
                            [id]="'receipt-singleprice-' + i" name="'receipt-singleprice-' + i" required
                            [(ngModel)]="item.singleprice" (change)="onChangeValues(i)"
                            (keydown)="onKeydownValue(i, $event)" onFocus="this.select()">
                    </ng-container>
                </div>
                <div class="col-4 col-lg-2 text-end d-flex d-lg-block">
                    <ng-container *ngIf="selectedReceipt.id > 0">
                        <span class="d-inline-block d-lg-none me-2">{{
                            i18n('receipts.items.discount') }}:</span>
                        <span>{{ formatService.fcur(item.discount * -1, selectedReceipt.currency)
                            }}</span>
                    </ng-container>
                    <ng-container *ngIf="selectedReceipt.id == 0">
                        <input type="number" step="0.01" class="form-control form-control-sm text-end"
                            [id]="'receipt-discount-' + i" name="'receipt-discount-' + i" required
                            [(ngModel)]="item.discount" (change)="onChangeValues(i)"
                            (keydown)="onKeydownValue(i, $event)" onFocus="this.select()">
                    </ng-container>
                </div>
                <div class="col-4 col-lg-2 text-end d-flex d-lg-block">
                    <ng-container *ngIf="selectedReceipt.id > 0">
                        <span class="d-inline-block d-lg-none me-2">{{
                            i18n('receipts.items.deposit') }}:</span>
                        <span>{{ formatService.fcur(item.deposit, selectedReceipt.currency)
                            }}</span>
                    </ng-container>
                    <ng-container *ngIf="selectedReceipt.id == 0">
                        <input type="number" step="0.01" class="form-control form-control-sm text-end"
                            [id]="'receipt-deposit-' + i" name="'receipt-deposit-' + i" required
                            [(ngModel)]="item.deposit" (change)="onChangeValues(i)"
                            (keydown)="onKeydownValue(i, $event)" onFocus="this.select()">
                    </ng-container>
                </div>
                <div class="col-4 col-lg-2 text-end d-flex d-lg-block">
                    <ng-container *ngIf="selectedReceipt.id > 0">
                        <span class="d-inline-block d-lg-none me-2">{{
                            i18n('receipts.items.totalnet') }}:</span>
                        <span>{{ formatService.fcur(item.totalnet, selectedReceipt.currency)
                            }}</span>
                    </ng-container>
                    <ng-container *ngIf="selectedReceipt.id == 0">
                        <input type="number" step="0.01" class="form-control form-control-sm text-end"
                            [id]="'receipt-totalnet-' + i" name="'receipt-totalnet-' + i" readonly tabindex="-1"
                            [ngModel]="item.totalnet">
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #receiptItemsSummary>
    <ng-container *ngIf="selectedReceipt">
        <div class="flex-table-body row">
            <div class="col-12 col-lg-3">
                <strong>{{ i18n('receipts.items.summary') }}</strong>
            </div>
            <div class="col-4 col-lg-1 text-end d-flex d-lg-block"></div>
            <div class="col-4 col-lg-2 text-end d-flex d-lg-block">
                <span class="d-inline-block d-lg-none me-2">{{
                    i18n('receipts.items.singleprice') }}:</span>
                <strong>{{ formatService.fcur(selectedTotals.singleprice,
                    selectedReceipt.currency) }}</strong>
            </div>
            <div class="col-4 col-lg-2 text-end d-flex d-lg-block">
                <span class="d-inline-block d-lg-none me-2">{{ i18n('receipts.items.discount')
                    }}:</span>
                <strong>{{ formatService.fcur(selectedTotals.discount * -1,
                    selectedReceipt.currency) }}</strong>
            </div>
            <div class="col-4 col-lg-2 text-end d-flex d-lg-block">
                <span class="d-inline-block d-lg-none me-2">{{ i18n('receipts.items.deposit')
                    }}:</span>
                <strong>{{ formatService.fcur(selectedTotals.deposit, selectedReceipt.currency)
                    }}</strong>
            </div>
            <div class="col-4 col-lg-2 text-end d-flex d-lg-block">
                <span class="d-inline-block d-lg-none me-2">{{ i18n('receipts.items.totalnet')
                    }}:</span>
                <strong>{{ formatService.fcur(selectedTotals.gross, selectedReceipt.currency)
                    }}</strong>
            </div>
        </div>
    </ng-container>
</ng-template>

<ng-template #receiptArticle let-receiptitem="item">
    <ng-container *ngIf="receiptitem.articleid && article(receiptitem.articleid)">
        {{ article(receiptitem.articleid)!.name }}
        <span class="fs-8">&nbsp;({{ article(receiptitem.articleid)!.search }}<ng-container
                *ngIf="taxrate(receiptitem.articleid)">,
                {{ formatService.fpercent(taxrate(receiptitem.articleid)!.rate) }}</ng-container>
            <ng-container *ngIf="article(receiptitem.articleid)!.ean">,
                {{ article(receiptitem.articleid)!.ean }}</ng-container>
            <ng-container *ngIf="article(receiptitem.articleid)!.organic">,
                <i [class]="config.icons['organic']"></i>
                {{ i18n('receipts.items.organic') }}
            </ng-container>)
        </span>
    </ng-container>
</ng-template>