<div class="login">
  <div class="container h-75 d-flex justify-content-center">
    <div class="d-flex h-100 align-items-center text-center">
      <div class="card body bg-gradient border border-secondary shadow-sm rounded">
        <div class="card-body">
          <h5 class="card-title pb-2 mb-2 border-bottom border-2 border-secondary">{{ i18n('login.sessioncheck.title') }}</h5>
          <p class="">{{ i18n('login.sessioncheck.subtitle') }}</p>
        </div>
        <div class="card-footer">
          <h2><ui-busy-indicator></ui-busy-indicator></h2>
        </div>
      </div>
    </div>
  </div>
</div>
