<div class="container-fluid pt-4 pt-md-2 mb-2">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">
                <app-icon [iconClass]="'fa-solid fa-train-subway'" [marginEnd]="2"></app-icon>
                {{ i18nstr.travel.pagetitle }}
            </h5>
            <div class="d-flex align-items-center">
                <app-icon [animateOpacityInAndOut]="saving" [iconClass]="icons['spinner']" [spin]="true"></app-icon>
                <button class="btn btn-sm btn-outline-secondary ms-2">
                    <app-icon [iconClass]="icons['report']"></app-icon>
                    <span class="d-none d-lg-inline ms-2">{{ i18nstr.travel.createReportBtn }}</span>
                </button>
                <button class="btn btn-sm btn-outline-primary ms-2">
                    <app-icon [iconClass]="icons['add']"></app-icon>
                    <span class="d-none d-lg-inline ms-2">{{ i18nstr.common.add }}</span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ i18nstr.travel.colPerson }}</th>
                        <th>{{ i18nstr.travel.colBegin }}</th>
                        <th class="d-none d-md-table-cell">{{ i18nstr.travel.colEnd }}</th>
                        <th class="d-none d-md-table-cell">{{ i18nstr.travel.colReason }}</th>
                        <th class="d-none d-md-table-cell">{{ i18nstr.travel.colLocation }}</th>
                        <th class="text-end">{{ i18nstr.travel.colActions }}</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of travels; track $index) {
                    <tr style="transform: rotate(0);">
                        <!-- Transform required to prevent stretched-link to go up to whole table -->
                        <td>
                            <span class="badge rounded-pill text-bg-dark me-2">{{ item.user.initials }}</span>
                            {{ item.user.loginname | titlecase }}
                        </td>
                        <td>
                            {{ fdate(item.timeStart, 'P') }}
                        </td>
                        <td class="d-none d-md-table-cell">
                            @if (fdate(item.timeStart, 'P') != fdate(item.timeEnd, 'P')) {
                            {{ fdate(item.timeEnd, 'P') }}
                            }
                            @else {
                            ⸺
                            }
                        </td>
                        <td class="d-none d-md-table-cell">
                            {{ item.reason }}
                        </td>
                        <td class="d-none d-md-table-cell">
                            {{ item.location }}{{ item.location != '' && item.city != '' ? ', ' : '' }}{{ item.city }}
                            @if (!item.country.isdefault) {
                            ({{ item.country.key2 }})
                            }
                        </td>
                        <td class="text-end">
                            <a [routerLink]="['/work', 'travel', item.id, furl(item.reason)]" class="stretched-link">
                                <button class="btn btn-sm btn-outline-secondary ms-2">
                                    <app-icon [iconClass]="icons['edit']"></app-icon>
                                    <span class="d-none d-lg-inline ms-2">{{ i18nstr.common.edit }}</span>
                                </button>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>