@if (!usersettingsObj || !day) {
<ui-centered-busy-indicator></ui-centered-busy-indicator>
}

@else {

<div class="container">

  <div class="pt-4 pt-md-2 mb-2">
    <!-- The page header with day back and forward buttons and busy indicator -->
    <app-work-day-header [actualDate]="actualDate" [busy]="busy" [isToday]="isToday" [today]="today"
      [tomorrow]="tomorrow" [yesterday]="yesterday"></app-work-day-header>
  </div>

  <div class="pt-md-2 mb-2">

    <div class="row g-2">
      <!-- container with info cards -->

      <div class="col-12 col-md-4">
        <!-- card 1: container day info -->
        @if (day) {
        <app-work-day-infobox1 [day]="day" [today]="today" [usersettingsObj]="usersettingsObj"></app-work-day-infobox1>
        }
      </div>

      <!-- container with info cards -->
    </div>

  </div>

  @if (bookings.length > 0) {
  <div class="pt-4 pt-md-2 mb-2">
    <!-- Container with bookings of selected day -->
    <app-h3 [title]="i18n('workday.tracked.title')" [containercss]="'pt-4'"></app-h3>

    <div class="pt-md-2 mb-2">
      <app-work-day-bookings [bookings]="bookings" (bookingClick)="copyFromRecent($event)"
        (deleteClick)="deleteBooking($event)"></app-work-day-bookings>
    </div>
    <!-- Container with bookings of selected day -->
  </div>
  }

  <div class="pt-4 pt-md-2 mb-2">
    <!-- Container with booking form -->
    <app-h3 [title]="i18n('workday.tracking.title')" [containercss]="'pt-4'" id="scroll-anchor"></app-h3>

    @if (booking) {
    <!-- container tracking -->
    <div class="pt-md-2 mb-2">
      <app-work-day-booking-form [booking]="booking" [busy]="busy" [categories]="categories"
        [copyBooking]="copyBooking()" [customers]="customers" [projects]="projects" [recentBookings]="recentEntries()"
        [usersettingsObj]="usersettingsObj" (bookingSubmit)="onSubmitBooking($event)"></app-work-day-booking-form>
    </div>
    <!-- Container with booking form -->
    }

  </div>

</div>

}

<div class="modal fade" id="createCustomerModal" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <form [formGroup]="createCustomer" (submit)="onSaveCreateCustomer()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{i18n('workday.tracking.createCustomer.title')}}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 mb-3">
              <div class="form-group">
                <label for="create-customer-name" class="form-label required">
                  {{ i18n('workday.tracking.createCustomer.nameTitle') }}
                </label>
                <input type="text" class="form-control" id="create-customer-name" name="create-customer-name"
                  [placeholder]="i18n('workday.tracking.createCustomer.namePlaceholder')" formControlName="name">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #createCustomerModalCloser data-bs-dismiss="modal">
            {{i18n('common.cancel')}}
          </button>
          <button type="submit" class="btn btn-success"
            [disabled]="!createCustomer.get('name')!.dirty || !createCustomer.get('name')!.valid || createCustomer.get('busy')?.value">
            {{i18n('common.save')}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>