body[data-bs-theme="dark"] {
  .cal-month-view {
    background-color: rgba(0, 0, 0, 0.1);
    .cal-cell-row {
      .cal-cell {
        background-color: rgba(0, 0, 0, 0.1);
        &:hover {
          background-color: rgba(13, 110, 253, 0.15);
        }
        &.cal-today {
          background-color: rgba(149, 154, 0, 0.1);
          &:hover {
            background-color: rgba(149, 154, 0, 0.2);
          }
        }
        &.cal-open {
          background-color: rgba(3, 205, 0, 0.1);
          &:hover {
            background-color: rgba(3, 205, 0, 0.2);
          }
        }
      }
      &:hover {
        background-color: rgba(13, 110, 253, 0.1) !important;
      }
    }
  }
  .case-nav-group {
    a.nav-link {
      background-color: rgba(0, 0, 0, 0.005) !important;
      border: 1px solid #555 !important;
      &:hover {
        background-color: rgba(13, 110, 253, 0.1) !important;
      }
      &.active {
        background-color: rgba(13, 110, 253, 0.15) !important;
        &:hover {
          background-color: rgba(13, 110, 253, 0.23) !important;
        }
      }
    }
  }
  ul.list-group {
    > .list-group-item {
      &.active {
        background-color: rgba(13, 110, 253, 0.15) !important;
        &:hover {
          background-color: rgba(13, 110, 253, 0.23) !important;
        }
      }
      &:hover {
        background-color: rgba(13, 110, 253, 0.1) !important;
      }
    }
  }
}
