
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

.bg-dark {
  .form-control {
    background-color: $secondary;
    border-color: darken($dark, 50%);
    color: $white;
    &:focus {
      background-color: $secondary;
      border-color: darken($dark, 50%);
      color: $white;
    }
  }
  .input-group {
    .input-group-text,button {
      background-color: $dark;
      border-color: darken($dark, 50%);
      color: $light;
    }
  }
}

.navbar.navbar-sm {
  .navbar-nav .nav-link {
    font-size: 92%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navbar-secondary .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .55);
  &.active {
    color: #fff;
  }
}
