@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/assets/PlayfairDisplay-VariableFont_wght.ttf");
}

.bg-dark {
  .form-control {
    background-color: $secondary;
    border-color: darken($dark, 50%);
    color: $white;

    &:focus {
      background-color: $secondary;
      border-color: darken($dark, 50%);
      color: $white;
    }
  }

  .input-group {

    .input-group-text,
    button {
      background-color: $dark;
      border-color: darken($dark, 50%);
      color: $light;
    }
  }
}

.border-muted {
  border: 1px solid #ced4da !important;
}

.flex-table {
  padding-left: .75rem;
  padding-right: .75rem;

  .flex-table-head.row {
    >div {
      padding: .5rem .5rem;
      border-bottom: 2px solid #212529;
      font-weight: bold;
    }
  }

  .flex-table-body.row {
    >div {
      padding: .5rem .5rem;
    }

    &.danger {
      background-color: #f8d7da;
    }

    &.warning {
      background-color: #fff3cd;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #dee2e6;
    }
  }

  &.flex-table-sm .row {
    >div {
      padding: .25rem .25rem;
    }
  }

  &.hover {
    .flex-table-body.row:hover {
      background-color: #dee2e6;
    }
  }

}

form {

  input,
  select,
  textarea {

    &.ng-valid[required],
    .ng-valid.required {
      &.ng-touched {
        border-color: #198754;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      }
    }

    &.ng-invalid:not(form) {
      border-color: #dc3545;
      padding-right: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

  }
}

.form-group {
  .form-label {
    font-style: italic;
    font-weight: 200;
    margin-bottom: 0 !important;

    &.required:after {
      color: map-get($theme-colors, 'primary');
      content: "*";
      font-weight: bold;
      position: absolute;
      margin-left: .2rem;
    }
  }
}

.form-control-plaintext {
  border-bottom: 1px solid #ced4da !important;

  &.form-control-px {
    padding: .375rem calc(.75rem + 1px);
  }
}

.input-group {
  .form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }
}

.fix-border.list-group-item:first-child {
  border-top-width: 0 !important;
}

.fix-border.list-group-item:last-child {
  border-bottom-width: 0 !important;
}

.fs-7 {
  font-size: $font-size-base * .9 !important;
}

.fs-8 {
  font-size: $font-size-base * .8 !important;
}

.intend-level-0 {
  padding-left: 1.5rem !important;
}

.intend-level-1 {
  padding-left: 2.5rem !important;
}

.intend-level-2 {
  padding-left: 3.5rem !important;
}

.intend-level-3 {
  padding-left: 4.5rem !important;
}

.intend-level-4 {
  padding-left: 5.5rem !important;
}

.intend-level-5 {
  padding-left: 6.5rem !important;
}

.intend-level-6 {
  padding-left: 7.5rem !important;
}

.intend-level-7 {
  padding-left: 8.5rem !important;
}

.list-group {

  &.list-group-flush,
  &.flush {
    &:not(ul) .list-group-item:not(:last-child) {
      border-width: 0 0 1px;
    }
  }

  &.list-group-hover,
  &.hover {
    &:not(ul) .list-group-item:hover {
      background-color: rgba(0, 0, 0, .08);
      color: #212529;
    }
  }

  &.sm {
    .list-group-item {
      padding: .125rem .5rem;
    }
  }
}


.navbar.navbar-sm {
  .navbar-nav .nav-link {
    font-size: 92%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navbar-secondary .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .55);

  &.active {
    color: #fff;
  }
}

.pointer {
  cursor: pointer;
}

pre {
  &.codeblock.linenumbers {
    li {
      .content {
        line-height: 1.5rem;
        margin-left: .5rem;
        padding: 0 .4rem;
        word-wrap: break-word;
        white-space: pre;
      }

      .counter {
        border-right: 1px solid #ddd;
        padding: 0 .4rem;
        color: #888;
        max-width: 3rem !important;
        min-width: 3rem !important;
        width: 3rem !important;
        text-align: right;
      }
    }
  }
}

.ratio-2x3 {
  aspect-ratio: 2/3;
}

.ratio-md-3x2 {
  @include media-breakpoint-up(md) {
    aspect-ratio: 3/2;
  }
}

.rounded-0 {
  border-radius: 0 !important;
}

.strikethrough {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, .8);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

}

.text-serif {
  font-family: "PlayfairDisplay";
}

.ws-pre-wrap {
  white-space: pre-wrap;
}