<div class="container pt-4 pt-md-2 mb-2">
  <div class="pb-2 border-bottom border-secondary border-2 d-flex justify-content-between align-items-center">
    <h2 class="text-nowrap text-truncate">{{ i18n('home.title') }}</h2>
  </div>

  <div class="d-flex flex-column flex-lg-row justify-content-between align-items-top pt-4 pt-md-2 mb-2">
    <div class="flex-grow-1">

      <div class="card mb-3" *ngIf="inboxfiles.length > 0">
        <div class="card-header">
          <h5 class="mb-0">
            <app-icon [iconClass]="icons['star']" [fixedWidth]="true"></app-icon>
            {{ i18n('home.inbox.title') }}
          </h5>
        </div>
        <ul class="list-group flush hover rounded-0 " *ngIf="inboxfiles.length > 0">
          <ng-container *ngFor="let file of inboxfiles;">
            <a [ngClass]="['fix-border list-group-item', 'py-2', 'pe-2', 'border-start-0 border-end-0']"
              [routerLink]="['/file', file.id]">
              <file-list-item [file]="file" [showButtons]="false" [routeSelf]="['/home']">
              </file-list-item>
            </a>
          </ng-container>
        </ul>
      </div>

      <div class="card mb-3" *ngIf="inactivecases.length > 0">
        <div class="card-header">
          <h5 class="mb-0">
            <app-icon [iconClass]="icons['cases']" [fixedWidth]="true"></app-icon>
            {{ i18n('home.cases.title') }}
          </h5>
        </div>
        <div class="card-body">
          <ul class="list-group flush hover rounded" *ngIf="inactivecases.length > 0">
            <a class="list-group-item" *ngFor="let case of inactivecases;" [routerLink]="['/case', case.id ]">
              <case-list-item [case]="case"></case-list-item>
            </a>
          </ul>
        </div>

      </div>

      <div class="card mb-3" *ngIf="recentfiles.length > 0">
        <div class="card-header">
          <h5 class="mb-0">
            <app-icon [iconClass]="icons['star']" [fixedWidth]="true"></app-icon>
            {{ i18n('home.recentFiles.title') }}
          </h5>
        </div>
        <ul class="list-group flush hover rounded-0 ">
          <ng-container *ngFor="let file of recentfiles;">
            <a [ngClass]="['fix-border list-group-item', 'py-2', 'pe-2', 'border-start-0 border-end-0']"
              [routerLink]="['/file', file.id]">
              <file-list-item [file]="file" [showButtons]="true" [routeSelf]="['/home']">
              </file-list-item>
            </a>
          </ng-container>
        </ul>
      </div>

    </div>

    <div class="ms-lg-3 stats-box">

      <div class="mb-3">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              {{ i18n('home.supermarket.title') }}
            </h5>
          </div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded">
              <a class="list-group-item" routerLink="/shopping">
                <app-icon [iconClass]="icons['shopping']" [marginEnd]="1" [fixedWidth]="true"></app-icon>
                {{ i18n('home.supermarket.shoppingLink') }}
              </a>
              <a class="list-group-item" routerLink="/price-comparison">
                <app-icon [iconClass]="icons['filter-price']" [marginEnd]="1" [fixedWidth]="true"></app-icon>
                {{ i18n('home.supermarket.priceComparison') }}
              </a>
              <a class="list-group-item" [routerLink]="'/receipts'">
                <app-icon [iconClass]="icons['receipt']" [marginEnd]="1" [fixedWidth]="true"></app-icon>
                {{ i18n('home.supermarket.receiptsLink') }}
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              {{ i18n('home.readings.title') }}
            </h5>
          </div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded">
              <a class="list-group-item" [routerLink]="'/readings'">
                <app-icon [iconClass]="icons['meter-reading']" [marginEnd]="1" [fixedWidth]="true"></app-icon>
                {{ i18n('home.readings.readingsLink') }}
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              {{ i18n('home.special.title') }}
            </h5>
          </div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded">
              <a class="list-group-item" [routerLink]="'/notepad'">
                <app-icon [iconClass]="icons['notepad']" [marginEnd]="1" [fixedWidth]="true"></app-icon>
                {{ i18n('home.special.notepadLink') }}
              </a>
              <a class="list-group-item" [routerLink]="'/warehouse'">
                <app-icon [iconClass]="icons['warehouse']" [marginEnd]="1" [fixedWidth]="true"></app-icon>
                {{ i18n('home.special.warehouseLink') }}
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              {{ i18n('home.database.title') }}
            </h5>
          </div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded">
              <a class="list-group-item" [routerLink]="'/db'">
                <app-icon [iconClass]="icons['database']" [marginEnd]="1" [fixedWidth]="true"></app-icon>
                {{ i18n('home.database.dbmanager') }}
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="stats">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              {{ i18n('home.stats.title') }}
            </h5>
          </div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush sm rounded">
              <li class="list-group-item px-0 pb-0">
                <div class="px-2">
                  {{ i18n('home.stats.files1', [ formatService.fnumber(stats.general.file_count),
                  formatService.fnumber(stats.general.dir_count), formatService.filesize(stats.general.file_size_total,
                  0, 2) ]) }}
                  {{ i18n('home.stats.files3', [ formatService.fnumber(stats.newfiles.count) ]) }}
                </div>
                <div class="card-footer px-2 py-1 fs-7">
                  <a [routerLink]="['/files']">
                    <app-icon [iconClass]="icons['go-right']"></app-icon>
                    {{ i18n('home.stats.filesLink') }}
                  </a>
                  <a [routerLink]="['/dashboard']" class="ms-2">
                    <app-icon [iconClass]="icons['go-right']"></app-icon>
                    {{ i18n('home.stats.storageLink') }}
                  </a>
                </div>
              </li>
              <li class="list-group-item px-0 pb-0">
                <div class="px-2">
                  {{ i18n('home.stats.files2', [ formatService.fnumber(stats.general.file_with_classid),
                  formatService.fnumber(stats.general.file_with_caseid), formatService.fnumber(stats.general.file_count
                  - stats.general.file_withocr_count) ])
                  }}
                </div>
                <div class="card-footer px-2 py-1 fs-7">
                  <a [routerLink]="['/files/noclass']">
                    <app-icon [iconClass]="icons['go-right']"></app-icon>
                    {{ i18n('home.stats.noclassFilesLink') }}
                  </a>
                  <a [routerLink]="['/cases']" class="ms-2">
                    <app-icon [iconClass]="icons['go-right']"></app-icon>
                    {{ i18n('home.stats.casesLink') }}
                  </a>
                  <a [routerLink]="['/files/noocr']" class="ms-2">
                    <app-icon [iconClass]="icons['go-right']"></app-icon>
                    {{ i18n('home.stats.noocrFilesLink') }}
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>