<div class="d-flex pointer" (click)="click(); $event.stopPropagation();">
    <div class="d-flex flex-column flex-grow-1">
        <div class="d-flex">
            <div class="d-none d-lg-block" *ngIf="relevance">
                <span class="badge bg-light text-dark fw-lighter">{{ i18n('search.result.points', ['' +
                    formatService.fnumber(relevance)])
                    }}</span>
            </div>
            <div class="flex-grow-1 pointer">
                <div>{{ case.title }}</div>
            </div>
        </div>
        <div class="fs-8 text-wrap text-break text-muted">
            <ng-container *ngIf="getCaseStatus(case.statusid)">
                <i [class]="getCaseStatus(case.statusid)!.icon + ' fs-8'"></i>
                {{ i18n('casestatus.' + getCaseStatus(case.statusid)!.name ) }}
                •
            </ng-container>
            <ng-container *ngIf="getCaseType(case.typeid)">
                <i [class]="getCaseType(case.typeid)!.icon + ' fs-8'"></i>
                {{ i18n('casetype.' + getCaseType(case.typeid)!.name ) }}
            </ng-container>
            <ng-container *ngIf="case.extid != ''">
                • {{ i18n('cases.reference', [case.extid]) }}
            </ng-container>
            <ng-container *ngIf="case.filescount > 0">
                • <i [class]="config.icons['file'] + ' fs-8'"></i>
                {{ i18n('cases.filescount', [case.filescount], case.filescount === 1 ? 0 : 1) }}
            </ng-container>
        </div>
    </div>
    <div class="ms-3" *ngIf="gotoButton">
        <a [routerLink]="['/case', case.id]">
            <button class="btn btn-sm btn-outline-primary" (click)="btnClick(); $event.stopPropagation();">
                <i [ngClass]="[ config.icons['go-right'], 'mx-2' ]"></i>
            </button>
        </a>
    </div>
</div>